<!--onclick="clmNm2lbbG('porsline-slider-iframe');showSlider()"-->
<button
  aria-label="Apply"
  class="w-commerce-commercecheckoutdiscountsbutton button-primary full-width discounts"
  type="submit"
  href="#porsline-slider"
  onclick="window.location.href='https://go.wecamp.pro/?add-to-cart=94&redirect=checkout'">
  <div>
  ثبت‌نام کمپ
  </div>
</button>
<script>
  (function() {
    var js,q,d=document,
      gi=d.getElementById,
      ifid='porsline-slider-iframe',
      ce=d.createElement,
      gt=d.getElementsByTagName,
      id="porsline-share",
      b="/js/";
    if(!gi.call(d,id)) {
      js=ce.call(d,"script");
      js.id = id; js.setAttribute("data-position","right"); js.src=b+"slider.js";
      q=gt.call(d,"script")[0];
      q.parentNode.insertBefore(js,q)
    }
  })();
  var clmNm2lbbG = function (ifid) {
    document.getElementById(ifid).fetchPriority = 'high';
    document.getElementById(ifid).src =
      "https://go.wecamp.pro/?add-to-cart=94&redirect=checkout"
  }
</script>
