        <div class="card events">
         <a class="card-image-link events w-inline-block" href="https://eseminar.tv/wb167570">
          <img alt="alt text" class="image card-events" src="/img/events/1404/agentic-ai.jpg"/>
         </a>
         <div class="card-content events">
          <a class="card-title-link w-inline-block" href="https://eseminar.tv/wb167570">
           <h3 class="title card-event">
            <!--<span style="color: orange;">[برگزار شده]</span>-->
            وبینار عامل‌های هوش مصنوعی
           </h3>
          </a>
          <p>
            بررسی سیر تکاملی هوش مصنوعی، از شروع کار تا امروز که با مدل‌های زبان بزرگ (LLM) و ظهور دوران هوش مصنوعی عاملی
          </p>
          <div class="divider card-events">
          </div>
          <div class="card-event-details-wrapper">
           <div class="event-date-wrapper">
            <div class="event-date">
             <img alt="Calendar Icon" class="event-icon" src="/img/icons/event-calendar.svg"/>
             <div class="event-details-text">
              ۲۷ آبان ۱۴۰۴
             </div>
            </div>
            <div class="event-time">
             <img alt="Clock Icon" class="event-icon" src="/img/icons/event-clock.svg"/>
             <div class="event-details-text">
              ۸:۰۰ شب
             </div>
            </div>
           </div>
           <div class="event-location-wrapper">
            <img alt="Location Icon" class="event-icon location" src="/img/icons/event-location.svg"/>
            <div class="event-location-text">
             آنلاین در پلتفرم ایسمینار
            </div>
           </div>
          </div>
         </div>
        </div>
