        <div class="card events">
         <a class="card-image-link events w-inline-block" href="https://eseminar.tv/wb168365">
          <img alt="alt text" class="image card-events" src="/img/events/1404/agentic-ai-2.jpg"/>
         </a>
         <div class="card-content events">
          <a class="card-title-link w-inline-block" href="https://eseminar.tv/wb168365">
           <h3 class="title card-event">
<!--            <span style="color: orange;">ویدیوی</span>-->
            ثبت‌نام رویداد مسیر شغلی هوش مصنوعی
           </h3>
          </a>
          <p>
            کدام نقش‌های هوش مصنوعی بیشترین تقاضا را دارند و چطور می‌توانید با مهارت‌های درست وارد این بازار شوید
          </p>
          <div class="divider card-events">
          </div>
          <div class="card-event-details-wrapper">
           <div class="event-date-wrapper">
            <div class="event-date">
             <img alt="Calendar Icon" class="event-icon" src="/img/icons/event-calendar.svg"/>
             <div class="event-details-text">
              ۲۰ آذر ۱۴۰۴
             </div>
            </div>
            <div class="event-time">
             <img alt="Clock Icon" class="event-icon" src="/img/icons/event-clock.svg"/>
             <div class="event-details-text">
              ۳:۳۰ بعدازظهر
             </div>
            </div>
           </div>
           <a class="card-title-link w-inline-block" href="https://eseminar.tv/wb168365">
            <div class="event-location-wrapper">
             <img alt="Location Icon" class="event-icon location" src="/img/icons/event-location.svg"/>
             <div class="event-location-text">
             آنلاین و حضوری
             </div>
            </div>
           </a>
          </div>
         </div>
        </div>
