        <div class="card events">
         <a class="card-image-link events w-inline-block" href="https://drive.google.com/file/d/1kBu2OrpQub1aynQrWMHFiKZu8I3dCzBD/view">
          <img alt="alt text" class="image card-events" src="/img/events/1404/product-design.jpg"/>
         </a>
         <div class="card-content events">
          <a class="card-title-link w-inline-block" href="https://drive.google.com/file/d/1kBu2OrpQub1aynQrWMHFiKZu8I3dCzBD/view">
           <h3 class="title card-event">
            <span style="color: orange;">[مشاهده فیلم]</span>
            وبینار مسیر شغلی دیزاین محصول
           </h3>
          </a>
          <p>
           یک معرفی کامل و جذاب از دنیای دیزاین محصول؛ مخصوص کسایی که می‌خوان وارد این مسیر بشن.
          </p>
          <div class="divider card-events">
          </div>
          <div class="card-event-details-wrapper">
           <div class="event-date-wrapper">
            <div class="event-date">
             <img alt="Calendar Icon" class="event-icon" src="/img/icons/event-calendar.svg"/>
             <div class="event-details-text">
              ۱۰ مهر ۱۴۰۴
             </div>
            </div>
            <div class="event-time">
             <img alt="Clock Icon" class="event-icon" src="/img/icons/event-clock.svg"/>
             <div class="event-details-text">
              ۵:۰۰ عصر
             </div>
            </div>
           </div>
           <div class="event-location-wrapper">
            <img alt="Location Icon" class="event-icon location" src="/img/icons/event-location.svg"/>
            <div class="event-location-text">
             آنلاین در پلتفرم ایسمینار
            </div>
           </div>
          </div>
         </div>
        </div>
