<!DOCTYPE html>
<html class="no-js" lang="zxx">
{{ partial "head" . }}
 <body>
  <div id="preloader">
   <div class="preloader">
    <span>
    </span>
    <span>
    </span>
   </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
   <i class="far fa-angle-double-up">
   </i>
  </button>
{{ partial "hamburger" . }}
  <div class="body-overlay">
  </div>
  <header class="it-header-height">
   <div class="it-header-2-top-area it-header-2-top-style it-header-inner-style black-bg">
{{ partial "top" . }}
   </div>
   <div class="it-header-5-area" id="header-sticky">
    <div class="container">
     <div class="it-header-wrap p-relative">
      <div class="row align-items-center">
       <div class="col-xl-2 col-6">
        <div class="it-header-5-logo">
         <a href="/">
          <img alt="" src="/img/logo/logo-black.png"/>
         </a>
        </div>
       </div>
{{ partial "nav-page" . }}
       <!--<div class="col-xl-3 col-6">
        <div class="it-header-2-left d-flex align-items-center justify-content-end">
         <div class="it-header-2-icon">
          <a href="cart.html">
           <i class="fa-regular fa-cart-shopping">
           </i>
          </a>
         </div>
         <div class="it-header-2-button d-none d-md-block">
          <a class="it-btn" href="contact.html">
           <span>
            با ما تماس بگیرید
            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
             <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
             <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
            </svg>
           </span>
          </a>
         </div>
         <div class="it-header-2-bar d-xl-none">
          <button class="it-menu-bar">
           <i class="fa-solid fa-bars">
           </i>
          </button>
         </div>
        </div>
       </div>-->
      </div>
     </div>
    </div>
   </div>
  </header>
  <main>
   <div class="it-breadcrumb-area it-breadcrumb-bg" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="it-breadcrumb-content z-index-3 text-center">
        <div class="it-breadcrumb-title-box">
         <h3 class="it-breadcrumb-title">
          کمپ شکارچیان ابر
         </h3>
        </div>
        <div class="it-breadcrumb-list-wrap">
         <div class="it-breadcrumb-list">
          <span>
            مهارت‌آموزی برای تخصص کارشناس
          </span>
          <span class="dvdr">
           زیرساخت ابری
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-course-details-area pt-120 pb-100">
    <div class="container">
     <div class="row">
      <div class="col-xl-9 col-lg-8">
       <div class="it-course-details-wrap">
        <div class="it-evn-details-thumb mb-35">
         <img alt="" src="/img/event/details-1.jpg"/>
        </div>
        <div class="it-evn-details-rate mb-15">
         <span>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          (پیشرفته)
         </span>
        </div>
        <h4 class="it-evn-details-title mb-0 pb-5">
         شکارچیان ابر: کمپ حرفه‌ای زیرساخت ابری
        </h4>
        <div class="postbox__meta">
         <span>
          <i class="fa-light fa-file-invoice">
          </i>
          سه ترم
         </span>
         <span>
          <i class="fa-light fa-clock">
          </i>
          ۹ ماه
         </span>
         <span>
          <i class="fa-light fa-user">
          </i>
          در حال ثبت‌نام
         </span>
        </div>
        <div class="it-course-details-nav pb-60">
         <nav>
          <div class="nav nav-tab" id="nav-tab" role="tablist">
           <button aria-controls="nav-home" aria-selected="true" class="nav-link active" data-bs-target="#nav-home" data-bs-toggle="tab" id="nav-home-tab" role="tab" type="button">
            بررسی اجمالی
           </button>
           <button aria-controls="nav-profile" aria-selected="false" class="nav-link" data-bs-target="#nav-profile" data-bs-toggle="tab" id="nav-profile-tab" role="tab" type="button">
            ترم اول
           </button>
           <button aria-controls="nav-contact" aria-selected="false" class="nav-link" data-bs-target="#nav-contact" data-bs-toggle="tab" id="nav-contact-tab" role="tab" type="button">
            ترم دوم
           </button>
           <button aria-controls="nav-reviews" aria-selected="false" class="nav-link" data-bs-target="#nav-reviews" data-bs-toggle="tab" id="nav-reviews-tab" role="tab" type="button">
            ترم سوم
           </button>
          </div>
         </nav>
        </div>
        <div class="it-course-details-content">
         <div class="tab-content" id="nav-tabContent">
          <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              شرح
             </h6>
             <p>
              کمپ تخصصی و پیشرفته زیرساخت ابری "مثنوی ابر" در وی‌کمپ، یک برنامه ۹ ماهه جامع و پروژه‌محور است که علاقه‌مندان و متخصصان فناوری اطلاعات را برای ورود به دنیای حرفه‌ای کلود و زیرساخت‌های ابری آماده می‌کند.
             </p>
             <p>
              این دوره شامل آموزش‌های عمیق در حوزه لینوکس، شبکه، OpenStack، Ceph و مفاهیم و ابزارهای DevOps است که دانشجویان را برای نقش‌های کلیدی در زمینه زیرساخت‌های ابری و مدیریت سیستم‌های پیچیده آماده می‌سازد.
             </p>
             <a href="https://tilin.ir/cloudhunterscamp" target="_blank">
              <button class="it-btn black-bg" type="submit">
                <span>دانلود سرفصل‌های دوره</span>
              </button>
             </a>
            </div>
            <div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این دوره چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              دانشجویان در این دوره، مهارت‌های لازم برای طراحی، پیاده‌سازی، و مدیریت زیرساخت‌های ابری را به دست خواهند آورد. شما با مبانی لینوکس و شبکه‌های کامپیوتری شروع خواهید کرد و در ادامه، به یادگیری نصب و پیکربندی OpenStack برای مدیریت زیرساخت‌های ابری خواهید پرداخت. همچنین، با Ceph به عنوان یک سیستم ذخیره‌سازی مقیاس‌پذیر آشنا می‌شوید و در نهایت، با ابزارها و فرآیندهای DevOps، توانایی مدیریت و نگهداری سرویس‌های ابری را کسب خواهید کرد. این دوره، دانش و تجربه عملی مورد نیاز برای آمادگی مصاحبه‌های شغلی و ورود به بازار کار حرفه‌ای را به شما ارائه می‌دهد.
             </p>
            </div>
           </div>
          </div>
          <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              شرح
             </h6>
             <p>
              ترم اول کمپ "مثنوی ابر" بر پایه‌ریزی مهارت‌های اساسی در زمینه لینوکس و شبکه متمرکز است. در این ترم، دانشجویان با محیط لینوکس، دستورات پایه، مدیریت کاربران، مدیریت فایل‌ها و فرآیندها، و پیکربندی اولیه شبکه آشنا می‌شوند. در بخش شبکه، مفاهیم اصلی شبکه‌های کامپیوتری مانند لایه‌های OSI، آدرس‌دهی IP، پروتکل‌های ارتباطی و سرویس‌های شبکه بررسی می‌شوند. هدف این ترم ایجاد زیرساخت دانشی و مهارت‌های ضروری برای یادگیری مباحث پیشرفته‌تر است و دانشجویان را برای ورود به دنیای زیرساخت‌های ابری آماده می‌کند.
             </p>
            </div>
            <div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این دوره چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              ترم اول به آموزش مفاهیم پایه‌ای لینوکس و شبکه اختصاص دارد. در این ترم، دانشجویان با محیط لینوکس آشنا می‌شوند و مهارت‌های لازم برای مدیریت سیستم از جمله دستورات پایه، مدیریت فایل‌ها و کاربران، و تنظیمات ابتدایی شبکه را فرا می‌گیرند. در بخش شبکه، اصول شبکه‌های کامپیوتری، مانند لایه‌های OSI، آدرس‌دهی IP، پروتکل‌های مهم ارتباطی و پیکربندی سرویس‌های شبکه مورد بررسی قرار می‌گیرد. این ترم به عنوان پایه‌ای محکم برای ورود به مباحث پیشرفته زیرساخت ابری طراحی شده و دانشجویان را برای درک عمیق‌تر از سیستم‌ها و شبکه‌ها آماده می‌کند.
             </p>
            </div>
           </div>
          </div>
          <div aria-labelledby="nav-contact-tab" class="tab-pane fade" id="nav-contact" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              شرح
             </h6>
             <p>
              در ترم دوم، تمرکز بر یادگیری تخصصی OpenStack، یکی از برترین پلتفرم‌های زیرساخت ابری، قرار دارد. دانشجویان به یادگیری نحوه نصب، پیکربندی و مدیریت اجزای اصلی OpenStack می‌پردازند، از جمله Nova برای مدیریت ماشین‌های مجازی، Neutron برای شبکه‌سازی، و Cinder برای ذخیره‌سازی. این ترم به دانشجویان توانایی اجرای یک سیستم ابری مقیاس‌پذیر و قابل اعتماد را می‌دهد و به آن‌ها کمک می‌کند تا درک عمیقی از مدیریت منابع ابری به‌دست آورند. این بخش از دوره با پروژه‌های عملی همراه است تا دانشجویان تجربه کاری مستقیم با OpenStack را به دست آورند.
            </div>
            <div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این دوره چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              در ترم دوم، آموزش تخصصی OpenStack آغاز می‌شود؛ دانشجویان با نصب و پیکربندی اجزای کلیدی این پلتفرم مانند Nova برای مدیریت ماشین‌های مجازی، Neutron برای شبکه‌سازی و Cinder برای ذخیره‌سازی آشنا می‌شوند. این ترم، مهارت‌هایی از جمله مدیریت و مقیاس‌پذیری سیستم‌های ابری، پیکربندی شبکه‌های پیچیده و تخصیص منابع را به دانشجویان ارائه می‌دهد و تجربه کار عملی با OpenStack را در اختیار آن‌ها می‌گذارد. هدف این بخش، ارتقای توانایی دانشجویان در مدیریت و راه‌اندازی زیرساخت‌های ابری قابل اعتماد و انعطاف‌پذیر است.
             </p>
            </div>
           </div>
          </div>
          <div aria-labelledby="nav-reviews-tab" class="tab-pane fade" id="nav-reviews" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              شرح
             </h6>
             <p>
              ترم سوم به فناوری Ceph و مفاهیم و ابزارهای کلیدی DevOps اختصاص دارد. در بخش Ceph، دانشجویان با معماری این سیستم ذخیره‌سازی توزیع‌شده آشنا می‌شوند و نحوه پیاده‌سازی، پیکربندی و مدیریت آن را برای ذخیره‌سازی داده‌های مقیاس‌پذیر یاد می‌گیرند. در بخش DevOps، مفاهیمی مانند CI/CD، اتوماسیون، مانیتورینگ و مدیریت پیکربندی تدریس می‌شود. دانشجویان ابزارهای مهمی مانند Ansible، Jenkins و Docker را می‌آموزند که برای کار در محیط‌های عملیاتی و مدیریت چرخه عمر سرویس‌ها بسیار حیاتی هستند. هدف این ترم، تجهیز دانشجویان به دانش و مهارت‌های لازم برای نگهداری و بهینه‌سازی سرویس‌های ابری در محیط‌های واقعی است.
             </p>
            </div>
            <div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این دوره چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              ترم سوم به آموزش سیستم ذخیره‌سازی Ceph و معرفی مفاهیم و ابزارهای DevOps اختصاص دارد. دانشجویان در بخش Ceph، معماری توزیع‌شده و شیوه‌های پیاده‌سازی و مدیریت ذخیره‌سازی مقیاس‌پذیر را فرا می‌گیرند. در بخش DevOps، دانشجویان با اصول و ابزارهای اتوماسیون و مدیریت چرخه عمر نرم‌افزارها مانند Ansible، Jenkins و Docker آشنا می‌شوند و یاد می‌گیرند چگونه بهینه‌سازی و نگهداری زیرساخت‌های ابری را در محیط‌های عملیاتی انجام دهند. این ترم دانش و ابزارهای حیاتی برای ورود به محیط‌های واقعی و مدیریت سیستم‌های ابری را در اختیار آن‌ها می‌گذارد.
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-3 col-lg-4">
       <div class="it-evn-sidebar-box it-course-sidebar-box">
        <div class="it-evn-sidebar-thumb mb-30">
         <img alt="" src="/img/event/details-sm.jpg"/>
        </div>
        <div class="it-course-sidebar-rate-box pb-20">
         <div class="it-course-sidebar-rate d-flex justify-content-between align-items-center">
          <span>
           شهریه هر ترم
          </span>
          <i><a href="/camps/price">۲۳,۰۰۰,۰۰۰ تومان</a></i>
         </div>
         <i>
          با امکان پرداخت قسطی
         </i>
        </div>
        <a class="it-btn w-100 text-center mb-20" href="/camps/price">
         <span>
          مشاهده تخفیف‌ها
          <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
           <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
           <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
          </svg>
         </span>
        </a>
        <div class="it-evn-sidebar-list">
         <ul>
          <li>
           <span>
            تاریخ شروع
           </span>
           <span>
            اسفند ۱۴۰۳
           </span>
          </li>
          <li>
           <span>
            ظرفیت باقی‌مانده
           </span>
           <span>
            ۱۹
           </span>
          </li>
          <li>
           <span>
            مدت کمپ
           </span>
           <span>
            سه ترم
           </span>
          </li>
          <li>
           <span>
            سطح ورود
           </span>
           <span>
            آشنایی با لینوکس
           </span>
          </li>
          <li>
           <span>
            روزهای کلاس
           </span>
           <span>
            یک‌شنبه، پنج‌شنبه
           </span>
          </li>
          <li>
           <span>
            نوع برگزاری
           </span>
           <span>
            هیبریدی
           </span>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
{{ partial "newsletter" . }}
  </main>
{{ partial "footer" . }}
  <script src="/js/jquery.js">
  </script>
  <script src="/js/waypoints.js">
  </script>
  <script src="/js/bootstrap.bundle.min.js">
  </script>
  <script src="/js/slick.min.js">
  </script>
  <script src="/js/magnific-popup.js">
  </script>
  <script src="/js/purecounter.js">
  </script>
  <script src="/js/wow.js">
  </script>
  <script src="/js/nice-select.js">
  </script>
  <script src="/js/swiper-bundle.js">
  </script>
  <script src="/js/isotope-pkgd.js">
  </script>
  <script src="/js/imagesloaded-pkgd.js">
  </script>
  <script src="/js/ajax-form.js">
  </script>
  <script src="/js/main.js">
  </script>
 </body>
</html>
