<!DOCTYPE html>
<html class="no-js" lang="zxx">
{{ partial "head" . }}
 <body>
  <div id="preloader">
   <div class="preloader">
    <span>
    </span>
    <span>
    </span>
   </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
   <i class="far fa-angle-double-up">
   </i>
  </button>
{{ partial "hamburger" . }}
  <div class="body-overlay">
  </div>
  <header class="it-header-height">
   <div class="it-header-2-top-area it-header-2-top-style it-header-inner-style black-bg">
{{ partial "top" . }}
   </div>
   <div class="it-header-5-area" id="header-sticky">
    <div class="container">
     <div class="it-header-wrap p-relative">
      <div class="row align-items-center">
       <div class="col-xl-2 col-6">
        <div class="it-header-5-logo">
         <a href="/">
          <img alt="" src="/img/logo/logo-black.png"/>
         </a>
        </div>
       </div>
{{ partial "nav-page" . }}
       <!--<div class="col-xl-3 col-6">
        <div class="it-header-2-left d-flex align-items-center justify-content-end">
         <div class="it-header-2-icon">
          <a href="cart.html">
           <i class="fa-regular fa-cart-shopping">
           </i>
          </a>
         </div>
         <div class="it-header-2-button d-none d-md-block">
          <a class="it-btn" href="contact.html">
           <span>
            با ما تماس بگیرید
            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
             <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
             <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
            </svg>
           </span>
          </a>
         </div>
         <div class="it-header-2-bar d-xl-none">
          <button class="it-menu-bar">
           <i class="fa-solid fa-bars">
           </i>
          </button>
         </div>
        </div>
       </div>-->
      </div>
     </div>
    </div>
   </div>
  </header>
  <main>
   <div class="it-breadcrumb-area it-breadcrumb-bg" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="it-breadcrumb-content z-index-3 text-center">
        <div class="it-breadcrumb-title-box">
         <h3 class="it-breadcrumb-title">
          کمپ معماران ابر
         </h3>
        </div>
        <div class="it-breadcrumb-list-wrap">
         <div class="it-breadcrumb-list">
          <span>
            مهارت‌آموزی برای تخصص کارشناس
          </span>
          <span class="dvdr">
           زیرساخت ابری
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-course-details-area pt-120 pb-100">
    <div class="container">
     <div class="row">
      <div class="col-xl-9 col-lg-8">
       <div class="it-course-details-wrap">
        <div class="it-evn-details-thumb mb-35">
          <video width="100%" loop="true" autoplay="true">
            <source src="/img/cloud-architects.mp4" type="video/mp4">
            <source src="/img/cloud-architects.webm" type="video/webm">
            <source src="/img/cloud-architects.ogv" type="video/ogg">
Your browser does not support the video tag.
          </video>
        </div>
        <div class="it-evn-details-rate mb-15">
         <span>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          (پیشرفته)
         </span>
        </div>
        <h4 class="it-evn-details-title mb-0 pb-5">
         معماران ابر: کمپ حرفه‌ای زیرساخت ابری
        </h4>
        <div class="postbox__meta">
         <span>
          <i class="fa-light fa-file-invoice">
          </i>
          سه ترم
         </span>
         <span>
          <i class="fa-light fa-clock">
          </i>
          ۹ ماه
         </span>
         <span>
          <i class="fa-light fa-user">
          </i>
          در حال ثبت‌نام
         </span>
        </div>
        <div class="it-course-details-nav pb-60">
         <nav>
          <div class="nav nav-tab" id="nav-tab" role="tablist">
           <button aria-controls="nav-home" aria-selected="true" class="nav-link active" data-bs-target="#nav-home" data-bs-toggle="tab" id="nav-home-tab" role="tab" type="button">
            بررسی اجمالی
           </button>
           <button aria-controls="nav-profile" aria-selected="false" class="nav-link" data-bs-target="#nav-profile" data-bs-toggle="tab" id="nav-profile-tab" role="tab" type="button">
            ترم اول
           </button>
           <button aria-controls="nav-contact" aria-selected="false" class="nav-link" data-bs-target="#nav-contact" data-bs-toggle="tab" id="nav-contact-tab" role="tab" type="button">
            ترم دوم
           </button>
           <button aria-controls="nav-reviews" aria-selected="false" class="nav-link" data-bs-target="#nav-reviews" data-bs-toggle="tab" id="nav-reviews-tab" role="tab" type="button">
            ترم سوم
           </button>
          </div>
         </nav>
        </div>
        <div class="it-course-details-content">
         <div class="tab-content" id="nav-tabContent">
          <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              درباره
             </h6>
             <p>
              کمپ تخصصی و پیشرفته زیرساخت ابری "معماران ابر" در وی‌کمپ، یک برنامه آموزشی جامع و پروژه‌محور در سه فصل است که علاقه‌مندان و متخصصان فناوری اطلاعات را برای ورود به دنیای حرفه‌ای کلود آماده می‌کند.
             </p>
             <p>
              این کمپ شامل آموزش‌های عمیق در حوزه لینوکس، شبکه، OpenStack،‏ Ceph و مفاهیم و ابزارهای DevOps است که دانشجویان را برای نقش‌های کلیدی در مدیریت زیرساخت‌ها و سیستم‌های پیچیده ابری آماده می‌کند.
             <br>
             </p>
             <a href="https://drive.google.com/file/d/1vK4MhQmWzItPYXCJaH5gU_wh-LhUqpWw/view" target="_blank">
              <button class="it-btn black-bg" type="submit">
                <span>دانلود سرفصل‌های کمپ</span>
              </button>
             </a>
            </div>
            <div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این کمپ چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              در این دوره، دانشجویان مهارت‌های ضروری برای طراحی، پیاده‌سازی و مدیریت زیرساخت‌های ابری IaaS را کسب خواهند کرد. دوره با مرور مبانی سیستم‌عامل لینوکس و شبکه‌های کامپیوتری آغاز می‌شود و سپس به آموزش OpenStack در سه سطح مدیریت (Administration)، نصب (Deploy) و پیکربندی حرفه‌ای ماژول‌ها پرداخته می‌شود.
              <br />
              در ترم دوم، در کنار مبحث اپن‌استک، دانشجویان با مفاهیم پایه‌ای ذخیره‌سازی داده‌ها آشنا می‌شوند و در ترم سوم با Ceph به‌عنوان یک سیستم ذخیره‌سازی مقیاس‌پذیر و پیشرفته تجربه عملی کسب خواهند کرد. در این مسیر، دانشجویان با ابزارهای متنوع DevOps از جمله ترافورم، انسیبل، داکر و فرآیندهای CI/CD نیز آشنا می‌شوند.
              <br />
              در پایان این دوره، دانشجویان توانایی مدیریت و نگهداری سرویس‌های ابری را کسب خواهند کرد. این برنامه، دانش و تجربه عملی لازم برای آمادگی در مصاحبه‌های شغلی و ورود به بازار کار حرفه‌ای را در اختیار شما قرار می‌دهد.
             </p>
            </div>
           </div>
          </div>
          <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              ترم اول: مبانی و آشنایی با ابزارهای اصلی
             </h6>
             <p>
                  در ترم اول، هدف اصلی فراهم کردن پایه‌های ضروری در زمینه لینوکس، شبکه، داکر، پایتون و اپن‌استک است. دانشجویان موضوعات کاربردی لینوکس را که برای ادامه کمپ ضروری است، خواهند آموخت و مبانی شبکه و پیکربندی آن در سیستم‌های لینوکسی مرور می‌شود. سپس مفاهیم ابتدایی داکر برای آشنایی با کانتینرها و ابزار ترافورم معرفی و استفاده از آن‌ها تمرین می‌شود. فراگیری پایتون در هر سه ترم گنجانده شده است و در میانهٔ ترم آموزش آن آغاز خواهد شد. به‌عنوان مقدمه‌ای برای مبحث مجازی‌سازیآموزش می‌بنند. آشنایی و کاربری اپن‌استک قله ترم اول است که فتح خواهد شد.
             </p>
            </div>
            <!--<div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این ترم چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              متن در اینجا
             </p>
            </div>-->
           </div>
          </div>
          <div aria-labelledby="nav-contact-tab" class="tab-pane fade" id="nav-contact" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              ترم دوم: نصب و پیکربندی، مفاهیم پیشرفته
             </h6>
             <p>
             در ترم دوم، تمرکز اصلی بر یادگیری تخصصی OpenStack خواهد بود. در این ترم، دانشجویان با فرآیند نصب و پیکربندی اجزای کلیدی این پلتفرم آشنا می‌شوند. همچنین، مفاهیم مهم شبکه‌های نرم‌افزارمحور (SDN) بررسی خواهد شد و به این ترتیب دانشجویان با پایه شبکه‌های ابری آشنا خواهند شد.
             <br />
             در پایان این ترم، دانشجویان آگاهی خوبی از زبان پایتون به‌دست می‌آورند و توانایی پیاده‌سازی یک سیستم ابری مقیاس‌پذیر و قابل اعتماد را خواهند داشت. این ترم به دانشجویان کمک می‌کند تا درک عمیقی از مدیریت منابع ابری پیدا کنند.
            </p>
            </div>
            <!--<div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این ترم چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              متن در اینجا
             </p>
            </div>-->
           </div>
          </div>
          <div aria-labelledby="nav-reviews-tab" class="tab-pane fade" id="nav-reviews" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              ترم سوم: ذخیره‌سازی ابری و تسلط بر مباحث ترم‌های پیشین
             </h6>
             <p>
              ترم سوم به فناوری Ceph و بررسی عمیق ماژول‌های اصلی اپن‌استک می‌پردازد. در بخش Ceph، دانشجویان با معماری این سیستم ذخیره‌سازی توزیع‌شده آشنا می‌شوند و نحوه پیاده‌سازی، پیکربندی و مدیریت آن را برای در یک زیرساخت ابری یاد می‌گیرند. به‌طور ویژه به بعضی از ماژول‌های اپن‌استک و پیکربندی پیشرفته آن پرداخته می‌شود. دانشجویان با اجزای ماژول‌هایی مانند Nova،‏ Neutron،‏ Cinder و Octavia بیشتر آشنا می‌شوند. در ادامه موضوعات دواپس، رویکرد CI/CD در دیپلوی و نگهداری اپن‌استک و مانیتورینگ پشتهٔ ابری بحث می‌شود.
              <br />
              در پایان این کمپ دانشجویان به توانمندی لازم برای مدیریت سیستم‌های ابری مقیاس‌پذیر و توزیع‌شده دست خواهند یافت. هدف این کمپ، تجهیز دانشجویان به دانش و مهارت‌های لازم برای نگه‌داری و بهینه‌سازی سرویس‌های ابری در محیط‌های واقعی است.
             </p>
            </div>
            <!--<div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این ترم چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              متن در اینجا
            </div>-->
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-3 col-lg-4">
       <div class="it-evn-sidebar-box it-course-sidebar-box">
        <div class="it-evn-sidebar-thumb mb-30">
         <img alt="" src="/img/event/details-sm.jpg"/>
        </div>
        <div class="it-course-sidebar-rate-box pb-20">
         <!--<div class="it-course-sidebar-rate d-flex justify-content-between align-items-center">
          <span>
           شهریه هر ترم
          </span>
          <i><a href="/camps/price">۲۳,۰۰۰,۰۰۰ تومان</a></i>
         </div>-->
         <i>
          با امکان پرداخت قسطی
         </i>
        </div>
        <a class="it-btn w-100 text-center mb-20" href="#pricing">
         <span>
          تخفیف‌ها و ثبت‌نام
          <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
           <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
           <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
          </svg>
         </span>
        </a>
        <div class="it-evn-sidebar-list">
         <ul>
          <li>
           <span>
            تاریخ شروع
           </span>
           <span>
            ۲۸ اردیبهشت
           </span>
          </li>
          <li>
           <span>
            مدت کمپ
           </span>
           <span>
            سه ترم
           </span>
          </li>
          <li>
           <span>
            سطح ورود
           </span>
           <span>
            آشنایی با لینوکس
           </span>
          </li>
          <li>
           <span>
            جلسات
           </span>
           <span>
            دو/سه روز در هفته
           </span>
          </li>
          <li>
           <span>
            نوع برگزاری
           </span>
           <span>
            آنلاین
           </span>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
{{ partial "cloud-teachers" . }}
{{ partial "cloud-price" . }}
{{ partial "newsletter" . }}
  </main>
{{ partial "footer" . }}
  <script src="/js/jquery.js">
  </script>
  <script src="/js/waypoints.js">
  </script>
  <script src="/js/bootstrap.bundle.min.js">
  </script>
  <script src="/js/slick.min.js">
  </script>
  <script src="/js/magnific-popup.js">
  </script>
  <script src="/js/purecounter.js">
  </script>
  <script src="/js/wow.js">
  </script>
  <script src="/js/nice-select.js">
  </script>
  <script src="/js/swiper-bundle.js">
  </script>
  <script src="/js/isotope-pkgd.js">
  </script>
  <script src="/js/imagesloaded-pkgd.js">
  </script>
  <script src="/js/ajax-form.js">
  </script>
  <script src="/js/main.js">
  </script>
        <!-- To ensure that the preloader does not wait more than 500 miliseconds -->
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
            let preloader = document.getElementById("preloader");
            preloader.style.transition = "opacity 0.5s ease";
            preloader.style.opacity = "0";
            setTimeout(() => preloader.style.display = "none", 500); // Extra delay to remove it after fade-out
            }, 500);
        });
        </script>
 </body>
</html>
