<!DOCTYPE html>
<html class="no-js" lang="zxx">
{{ partial "head" . }}
 <body>
  <div id="preloader">
   <div class="preloader">
    <span>
    </span>
    <span>
    </span>
   </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
   <i class="far fa-angle-double-up">
   </i>
  </button>
{{ partial "hamburger" . }}
  <div class="body-overlay">
  </div>
  <header class="it-header-height">
   <div class="it-header-2-top-area it-header-2-top-style it-header-inner-style black-bg">
{{ partial "top" . }}
   </div>
   <div class="it-header-5-area" id="header-sticky">
    <div class="container">
     <div class="it-header-wrap p-relative">
      <div class="row align-items-center">
       <div class="col-xl-2 col-6">
        <div class="it-header-5-logo">
         <a href="/">
          <img alt="" src="/img/logo/logo-black.png"/>
         </a>
        </div>
       </div>
{{ partial "nav-page" . }}
       <!--<div class="col-xl-3 col-6">
        <div class="it-header-2-left d-flex align-items-center justify-content-end">
         <div class="it-header-2-icon">
          <a href="cart.html">
           <i class="fa-regular fa-cart-shopping">
           </i>
          </a>
         </div>
         <div class="it-header-2-button d-none d-md-block">
          <a class="it-btn" href="contact.html">
           <span>
            با ما تماس بگیرید
            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
             <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
             <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
            </svg>
           </span>
          </a>
         </div>
         <div class="it-header-2-bar d-xl-none">
          <button class="it-menu-bar">
           <i class="fa-solid fa-bars">
           </i>
          </button>
         </div>
        </div>
       </div>-->
      </div>
     </div>
    </div>
   </div>
  </header>
  <main>
   <div class="it-breadcrumb-area it-breadcrumb-bg" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="it-breadcrumb-content z-index-3 text-center">
        <div class="it-breadcrumb-title-box">
         <h3 class="it-breadcrumb-title">
          کمپ طعم دواپس
         </h3>
        </div>
        <div class="it-breadcrumb-list-wrap">
         <div class="it-breadcrumb-list">
          <span>
            مهارت‌آموزی برای تخصص کارشناس
          </span>
          <span class="dvdr">
           مهندس دواپس
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-course-details-area pt-120 pb-100">
    <div class="container">
     <div class="row">
      <div class="col-xl-9 col-lg-8">
       <div class="it-course-details-wrap">
        <div class="it-evn-details-thumb mb-35">
          <video width="100%" loop="true" autoplay="true">
            <source src="/img/devops-taste.mp4" type="video/mp4">
            <source src="/img/devops-taste.webm" type="video/webm">
            <source src="/img/devops-taste.ogv" type="video/ogg">
Your browser does not support the video tag.
          </video>
        </div>
        <div class="it-evn-details-rate mb-15">
         <span>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          <i class="fa-sharp fa-solid fa-star">
          </i>
          (پیشرفته)
         </span>
        </div>
        <h4 class="it-evn-details-title mb-0 pb-5">
         طعم دواپس: کمپ حرفه‌ای مهندسی دواپس
        </h4>
        <div class="postbox__meta">
         <span>
          <i class="fa-light fa-file-invoice">
          </i>
          سه ترم
         </span>
         <span>
          <i class="fa-light fa-clock">
          </i>
          ۹ ماه
         </span>
         <span>
          <i class="fa-light fa-user">
          </i>
          در حال ثبت‌نام
         </span>
        </div>
        <div class="it-course-details-nav pb-60">
         <nav>
          <div class="nav nav-tab" id="nav-tab" role="tablist">
           <button aria-controls="nav-home" aria-selected="true" class="nav-link active" data-bs-target="#nav-home" data-bs-toggle="tab" id="nav-home-tab" role="tab" type="button">
            بررسی اجمالی
           </button>
           <button aria-controls="nav-profile" aria-selected="false" class="nav-link" data-bs-target="#nav-profile" data-bs-toggle="tab" id="nav-profile-tab" role="tab" type="button">
            ترم اول
           </button>
           <button aria-controls="nav-contact" aria-selected="false" class="nav-link" data-bs-target="#nav-contact" data-bs-toggle="tab" id="nav-contact-tab" role="tab" type="button">
            ترم دوم
           </button>
           <button aria-controls="nav-reviews" aria-selected="false" class="nav-link" data-bs-target="#nav-reviews" data-bs-toggle="tab" id="nav-reviews-tab" role="tab" type="button">
            ترم سوم
           </button>
          </div>
         </nav>
        </div>
        <div class="it-course-details-content">
         <div class="tab-content" id="nav-tabContent">
          <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              درباره
             </h6>
             <p>
            کمپ تخصصی و پیشرفته "طعم دواپس" در وی‌کمپ، یک برنامه آموزشی جامع و پروژه‌محور در سه فصل است که علاقه‌مندان و متخصصان فناوری اطلاعات را برای ورود به دنیای حرفه‌ای DevOps آماده می‌کند.
        </p>
        <p>
            این کمپ شامل آموزش‌های عمیق در حوزه لینوکس، شبکه، Docker، Kubernetes، Ansible، Jenkins، Terraform، و مفاهیم و ابزارهای مدیریت پایدار (CI/CD) است که دانشجویان را برای نقش‌های کلیدی در زمینه دواپس و توسعه محیط‌های پیشرفته آماده می‌کند.
        <br>
        </p>
             <a href="https://tilin.ir/cloudarchitectscamp" target="_blank">
              <button class="it-btn black-bg" type="submit">
                <span>دانلود سرفصل‌های کمپ</span>
              </button>
             </a>
            </div>
            <div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این کمپ چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
            در کمپ "طعم دواپس"، شما در مدت زمان ۹ ماه و به صورت سیستماتیک در سه ترم سه‌ماهه، با اصول و رازهای پنهان دواپس آشنا خواهید شد. از مرحله پیکربندی محیط توسعه و اتوماسیون فرآیندها تا مدیریت پایدار (CI/CD) و اجرای ابری، هر قدم از فرآیند دواپس بررسی خواهد شد. شما نه تنها یاد خواهید گرفت چگونه محیط‌های توسعه و عملیاتی پیشرفته طراحی کنید، بلکه روش‌های استراتژیک مدیریت پروژه‌ها و حل مسئله را نیز به دامان خواهید کشید. این کمپ با تمرکز بر پروژه‌های عملی و تحت راهنمایی متخصصان حوزه، شما را برای مدیریت سیستم‌های پیچیده و اجرای راه‌حل‌های ابری آماده خواهد کرد. در پایان این سفر ۹ ماهه، یک متخصص دواپس کامل و اطمینان‌بخش خواهید بود که می‌توانید محیط‌های پیشرفته را طراحی و مدیریت کنید.
             </p>
            </div>
           </div>
          </div>
          <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              ترم اول: برپایی محیط دواپس
             </h6>
             <p>
                در این ترم، شما با مبانی دواپس و پیکربندی محیط توسعه آشنا می‌شوید. این مرحله بنیادی برای هر سیستم دواپس است که به شما کمک می‌کند محیط‌های توسعه و عملیاتی خود را به صورت دقیق تعریف و تنظیم کنید. ابتدا با مبانی لینوکس و شبکه‌های کامپیوتری آشنایی پیدا می‌کنید. سپس یاد می‌گیرید چگونه با استفاده از ابزارهای مدیریت پیکربندی مثل Ansible و Puppet، محیط‌های پیشرفته را تنظیم کنید. در ادامه، قابلیت اجرا و عملکرد محیط‌ها از لحاظ فنی و اقتصادی مورد بررسی قرار می‌گیرد. در پایان این ترم، شما با پیکربندی یک محیط توسعه اولیه و ارائه آن به گروه، تجربه عملی اولیه خواهید کسب کرد.
            </p>
            </div>
            <!--<div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این ترم چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              متن در اینجا
             </p>
            </div>-->
           </div>
          </div>
          <div aria-labelledby="nav-contact-tab" class="tab-pane fade" id="nav-contact" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              ترم دوم: اتوماسیون و مدیریت پایدار
             </h6>
             <p>
                ترم دوم به اتوماسیون فرآیندها و مدیریت پایدار (CI/CD) اختصاص دارد. در این مرحله، شما یاد خواهید گرفت چگونه فرآیندهای توسعه و عملیاتی را اتوماسیون کنید تا سیستم‌هایی کارآمد و پایدار ایجاد کنید. اصول مدیریت پایدار مانند CI/CD Pipeline، Continuous Integration، و Continuous Deployment به شما معرفی می‌شوند. همچنین، چگونگی ایجاد محیط‌های اتوماسیون به صورت دستی و دیجیتال به طور کامل توضیح داده می‌شود. در این ترم، تأکید بر استفاده از ابزارهایی مانند Jenkins، GitLab CI/CD، و Docker است. شما با استفاده از این ابزارها، مهارت‌های لازم برای اجرای راه‌حل‌های اتوماسیون را به دست می‌آورید. در پایان، قابلیت استفاده از اتوماسیون‌ها از طریق تست‌های عملیاتی مورد بررسی قرار می‌گیرد. این ترم با طراحی و اجرای یک CI/CD Pipeline اولیه به پایان می‌رسد.
            </p>
            </div>
            <!--<div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این ترم چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              متن در اینجا
             </p>
            </div>-->
           </div>
          </div>
          <div aria-labelledby="nav-reviews-tab" class="tab-pane fade" id="nav-reviews" role="tabpanel">
           <div class="it-course-details-wrapper">
            <div class="it-evn-details-text mb-40">
             <h6 class="it-evn-details-title-sm pb-5">
              ترم سوم: ابریابی و اجرای راه‌حل‌ها
             </h6>
             <p>
                در ترم سوم، تمرکز ما بر اجرای راه‌حل‌های ابری و مدیریت سیستم‌های پیچیده است. این مرحله مهم است که به شما کمک می‌کند محیط‌های دواپس خود را به ابر منتقل کرده و بهینه‌سازی کنید. در این ترم، به مباحث مدیریت ابری پرداخته می‌شود تا یاد بگیرید چگونه از ابزارهایی مانند AWS، Azure، و Kubernetes برای اجرای راه‌حل‌های ابری استفاده کنید. مدیریت منابع ابری نیز یکی از موضوعات اصلی این ترم است که به شما یاد می‌دهد چگونه منابع، زمان، و بودجه را بهینه کنید. همچنین، برنامه‌ریزی امنیت شبکه و انتخاب راه‌حل‌های امنیتی مناسب برای سیستم شما مورد بحث قرار می‌گیرد. در نهایت، محیط شما مورد آزمایش قرار می‌گیرد و قبل از راه‌اندازی، بهبود داده می‌شود. این ترم با تحویل نهایی یک محیط دواپس کامل و ارائه آن به یک شبکه از متخصصان و مدیران صنعتی به پایان می‌رسد.
            </p>
            </div>
            <!--<div class="it-evn-details-text">
             <h6 class="it-evn-details-title-sm pb-5">
              از این ترم چه چیزی یاد خواهم گرفت؟
             </h6>
             <p>
              متن در اینجا
            </div>-->
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-3 col-lg-4">
       <div class="it-evn-sidebar-box it-course-sidebar-box">
        <div class="it-evn-sidebar-thumb mb-30">
         <img alt="" src="/img/event/details-dv.jpg"/>
        </div>
        <div class="it-course-sidebar-rate-box pb-20">
         <!--<div class="it-course-sidebar-rate d-flex justify-content-between align-items-center">
          <span>
           شهریه هر ترم
          </span>
          <i><a href="/camps/price">۲۳,۰۰۰,۰۰۰ تومان</a></i>
         </div>-->
         <i>
          با امکان پرداخت قسطی
         </i>
        </div>
        <a class="it-btn w-100 text-center mb-20" href="/camps/price">
         <span>
          تخفیف‌ها و ثبت‌نام
          <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
           <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
           <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
          </svg>
         </span>
        </a>
        <div class="it-evn-sidebar-list">
         <ul>
          <li>
           <span>
            تاریخ شروع
           </span>
           <span>
            اسفند ۱۴۰۳
           </span>
          </li>
          <li>
           <span>
            مدت کمپ
           </span>
           <span>
            سه ترم
           </span>
          </li>
          <li>
           <span>
            سطح ورود
           </span>
           <span>
            آشنایی با لینوکس
           </span>
          </li>
          <li>
           <span>
            جلسات کلاس
           </span>
           <span>
            دو روز در هفته
           </span>
          </li>
          <li>
           <span>
            نوع برگزاری
           </span>
           <span>
            هیبریدی
           </span>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
{{ partial "newsletter" . }}
  </main>
{{ partial "footer" . }}
  <script src="/js/jquery.js">
  </script>
  <script src="/js/waypoints.js">
  </script>
  <script src="/js/bootstrap.bundle.min.js">
  </script>
  <script src="/js/slick.min.js">
  </script>
  <script src="/js/magnific-popup.js">
  </script>
  <script src="/js/purecounter.js">
  </script>
  <script src="/js/wow.js">
  </script>
  <script src="/js/nice-select.js">
  </script>
  <script src="/js/swiper-bundle.js">
  </script>
  <script src="/js/isotope-pkgd.js">
  </script>
  <script src="/js/imagesloaded-pkgd.js">
  </script>
  <script src="/js/ajax-form.js">
  </script>
  <script src="/js/main.js">
  </script>
        <!-- To ensure that the preloader does not wait more than 500 miliseconds -->
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
            let preloader = document.getElementById("preloader");
            preloader.style.transition = "opacity 0.5s ease";
            preloader.style.opacity = "0";
            setTimeout(() => preloader.style.display = "none", 500); // Extra delay to remove it after fade-out
            }, 500);
        });
        </script>
 </body>
</html>
