<!DOCTYPE html>
<!-- Last Published: Thu Nov 28 2024 18:23:02 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="academy" data-wf-page="5f52d24bbe17c557e31c6be7" data-wf-site="5f52d24bbe17c561061c6b7a" data-wf-status="1" lang="en">
{{ partial "head" . }}
 <body>
  <div class="page-wrapper">
{{ partial "nav" . }}
   <div class="section courses">
    <div class="container-default-1209px w-container">
     <div class="courses-hero-wrapper">
      <div class="split-content courses" data-w-id="4dfb3ae6-c85f-5256-cad4-afe06038426b" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <h1 class="special-2 courses">
                لیست کمپ‌ها
       </h1>
       <p class="paragraph courses">
        اینجا می‌توانید همهٔ کمپ‌های ما را ببینید، انتخاب کنید و برای آینده شغلی بهتر آماده شوید.
       </p>
       <a class="button-primary large w-button" href="#Courses">
        برو به لیست
       </a>
      </div>
      <img alt="Hero Image" class="image courses" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384272" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, (max-width: 1439px) 65vw, 864.953125px" src="/img/camps/courses-hero.jpg" srcset="/img/camps/courses-hero-p1080.jpeg 1080w, /img/camps/courses-hero.jpg 1578w" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"/>
      <img alt="" class="circle-shape-courses _2" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384273" src="/img/shapes/circle-shape-courses-02.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"/>
      <img alt="" class="circle-shape-courses _1" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384274" src="/img/shapes/circle-shape-courses-01.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"/>
      <img alt="" class="circle-shape-courses _4" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384275" src="/img/shapes/circle-shape-courses-04.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"/>
      <img alt="" class="circle-shape-courses _3" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384276" src="/img/shapes/circle-shape-courses-03.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"/>
     </div>
    </div>
   </div>
   <div class="container-default-1209px w-container">
    <div class="divider" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384278" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    </div>
   </div>
   <div class="section latest-courses" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384279" id="Courses" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-default-1209px w-container">
     <div class="latest-courses-wrapper">
      <h2 class="title latest-courses" data-w-id="4dfb3ae6-c85f-5256-cad4-afe06038427c" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       به ترتیب تازه‌ترین‌ها
      </h2>
      <div class="w-dyn-list">
       <div class="courses-grid w-dyn-items" role="list">
        <div class="course-card-wrapper w-dyn-item" data-w-id="96a61bf5-bd59-e173-033b-ad374d548848" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
         <div class="card">
{{ partial "campcards/agentic-ai" . }}
         </div>
        </div>
        <div class="course-card-wrapper w-dyn-item" data-w-id="96a61bf5-bd59-e173-033b-ad374d548848" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
         <div class="card">
{{ partial "campcards/product-design" . }}
         </div>
        </div>
        <div class="course-card-wrapper w-dyn-item" data-w-id="96a61bf5-bd59-e173-033b-ad374d548848" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
         <div class="card">
{{ partial "campcards/cloud-management" . }}
         </div>
        </div>
        <div class="course-card-wrapper w-dyn-item" data-w-id="96a61bf5-bd59-e173-033b-ad374d548848" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
         <div class="card">
{{ partial "campcards/cloud-deployment" . }}
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
{{ partial "banner" . }}
   <div class="section" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384284" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-small-472px text-center w-container" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384285" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
     <h2>
       چرا با ما یاد بگیرید؟
     </h2>
     <p>
      توسعه مهارت‌های حرفه‌ای و دستیابی به اهداف شغلی با رویکرد استراتژیک، پروژه‌محور و پشتیبانی تخصصی منتورها
     </p>
    </div>
    <div class="container-medium-948px w-container">
     <div class="w-layout-grid why-study-grid">
      <div class="why-study-wrapper" data-w-id="4dfb3ae6-c85f-5256-cad4-afe06038428c" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <img alt="Community" class="why-study-icon" src="/img/icons/why-us-01.svg"/>
       <div class="why-study-content">
        <h3 class="title why-study">
          آموزش با مربیان ارشد صنعت
        </h3>
        <p class="paragraph mg-bottom-0px">
          در WECAMP، مسیر یادگیری شما با پشتیبانی مربیان ارشد و متخصص صنعت آغاز می‌شود تا هر گام شما هدایت‌شده و استراتژیک پیش رود.
        </p>
       </div>
      </div>
      <div class="why-study-wrapper" data-w-id="4dfb3ae6-c85f-5256-cad4-afe060384293" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <img alt="Students Community" class="why-study-icon" src="/img/icons/why-us-03.svg"/>
       <div class="why-study-content">
        <h3 class="title why-study">
           باشگاه حرفه‌ای WECAMP
        </h3>
        <p class="paragraph mg-bottom-0px">
          عضویت در باشگاه ویژه ما به شما امکان دسترسی به منابع اختصاصی، شبکه‌سازی با همکاران هدفمند و فرصت‌های ویژه برای پیشرفت حرفه‌ای می‌دهد.
        </p>
       </div>
      </div>
      <div class="why-study-wrapper" data-w-id="4dfb3ae6-c85f-5256-cad4-afe06038429a" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <img alt="Top Notch" class="why-study-icon" src="/img/icons/why-us-02.svg"/>
       <div class="why-study-content">
        <h3 class="title why-study">
           کمپ‌های تخصصی سطح اول
        </h3>
        <p class="paragraph mg-bottom-0px">
          همه دوره‌ها با ساختار سه‌مرحله‌ای و پروژه‌محور، اجرای عملی و تمرکز بر کاربرد واقعی طراحی شده‌اند تا شما را برای بازار کار آماده کنند.
        </p>
       </div>
      </div>
      <div class="why-study-wrapper" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842a1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <img alt="Mentorship" class="why-study-icon" src="/img/icons/why-us-04.svg"/>
       <div class="why-study-content">
        <h3 class="title why-study">
          منتورینگ شخصی‌سازی‌شده
        </h3>
        <p class="paragraph mg-bottom-0px">
          در هر مرحله، منتورها با راهنمایی‌های فردی و حرفه‌ای، مسیر یادگیری شما را منطبق بر نیازها و هدف‌هایتان شکل می‌دهند.
        </p>
       </div>
      </div>
     </div>
     <div class="vc-flex" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842a8" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
      <a class="button-primary large w-button" href="/path">
    مسیرهای شغلی
      </a>
     </div>
    </div>
   </div>
   <div class="container-default-1209px w-container">
    <div class="divider" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842ac" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    </div>
   </div>
   <div class="section testimonials" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842ad" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-medium-948px w-container">
     <div class="testimonial-students-wrapper">
      <h2 class="title testimonials" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842b0" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       اساتیدی که با
       <span class="font-color-primary">
        وی‌کمپ
       </span>
       همکاری دارند
      </h2>
      <div class="w-tabs" data-current="Tab 1" data-duration-in="300" data-duration-out="100" data-easing="ease-in-quad" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842b4" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <div class="w-tab-content">
        <div class="testimonial-content w-tab-pane w--tab-active" data-w-tab="Tab 1">
         <p class="paragraph-large testimonials">
          محمد شاهملکی مهندس DevOps با بیش از ۷ سال تجربه در طراحی پیکربندی‌های خودکار و استقرار کد است. او از تکنولوژی‌هایی مانند Docker، Kubernetes و Terraform برای یکپارچه‌سازی مداوم استفاده کرده و در حال حاضر در شرکت Skyroom مشغول به کار است. علاوه بر این، به تدریس در حوزه‌های تخصصی IT می‌پردازد.
         </p>
        </div>
        <div class="testimonial-content w-tab-pane" data-w-tab="Tab 2">
         <p class="paragraph-large testimonials">
          سوده محمدآبادی طراح محصول و خدمات، بنیان‌گذار کانون تفکر طراحی و کوچ تفکر طراحی در کسب‌وکارهاست. او همچنین به‌عنوان پژوهشگر در حوزه کاربرد هوش مصنوعی در دیزاین فعالیت می‌کند. با بیش از ۱۵ سال تجربه در تقاطع دیزاین، فناوری و نوآوری، سوده به سازمان‌ها کمک می‌کند تا برای مسائل پیچیده، راه‌حل‌هایی خلاقانه، انسانی و مبتنی بر داده طراحی کنند.
         </p>
        </div>
        <div class="testimonial-content w-tab-pane" data-w-tab="Tab 3">
         <p class="paragraph-large testimonials">
          علی بهمنی مدیر محصول در شرکت Passage در تورنتو است و سابقه همکاری در پروژه‌های بین‌المللی در دبی، ایالات متحده، بریتانیا و کانادا را در کارنامه دارد. پیش از این، مدیریت تیم‌های تجربه کاربری و تحقیق کاربر در شرکت‌های کافه‌بازار و بلد را بر عهده داشته؛ علی همچنین به‌عنوان هنرمند و طراح اوریگامی، سابقه برگزاری نمایشگاه‌ها و کارگاه‌های بین‌المللی در این حوزه را دارد.
         </p>
        </div>
       </div>
       <div class="students-wrapper w-tab-menu">
        <a class="student-wrapper w-inline-block w-tab-link w--current" data-w-tab="Tab 1">
         <img alt="مدرس" class="testimonial-student-image" src="/img/camps/square/محمد_شاهملکی.jpg"/>
         <div class="student-details">
          <div class="student-name">
           محمد شاهملکی
          </div>
          <div class="student-work">
           مهندس ارشد دواپس
          </div>
         </div>
        </a>
        <a class="student-wrapper w-inline-block w-tab-link" data-w-tab="Tab 2">
         <img alt="مدرس" class="testimonial-student-image" src="/img/camps/square/سوده_محمدآبادی.jpg"/>
         <div class="student-details">
          <div class="student-name">
           سوده محمدآبادی
          </div>
          <div class="student-work">
           طراح محصول و خدمت
          </div>
         </div>
        </a>
        <a class="student-wrapper w-inline-block w-tab-link" data-w-tab="Tab 3">
         <img alt="مدرس" class="testimonial-student-image" src="/img/camps/square/علی_بهمنی.jpg"/>
         <div class="student-details">
          <div class="student-name">
           علی بهمنی
          </div>
          <div class="student-work">
           طراح محصول
          </div>
         </div>
        </a>
       </div>
      </div>
      <div class="vc-flex" data-w-id="4dfb3ae6-c85f-5256-cad4-afe0603842d5" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <a class="button-primary large w-button" href="/teachers">
        همه مدرسان
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="container-default-1209px w-container">
    <div class="divider">
    </div>
   </div>
{{ partial "footer" . }}
  </div>
{{ partial "chat-popup" . }}
  <script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="/js/jquery-3.5.1.min.js" type="text/javascript">
  </script>
  <script src="/js/wf.js" type="text/javascript">
  </script>
 </body>
</html>
