<!DOCTYPE html>
<html class="no-js" lang="zxx">
{{ partial "head" . }}
 <body>
  <div id="preloader">
   <div class="preloader">
    <span>
    </span>
    <span>
    </span>
   </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
   <i class="far fa-angle-double-up">
   </i>
  </button>
  {{ partial "hamburger" . }}
  <div class="body-overlay">
  </div>
  <header class="it-header-height">
   <div class="it-header-2-top-area it-header-2-top-style it-header-inner-style black-bg">
    {{ partial "top" . }}
   </div>
   <div class="it-header-5-area" id="header-sticky">
    <div class="container">
     <div class="it-header-wrap p-relative">
      <div class="row align-items-center">
       <div class="col-xl-2 col-6">
        <div class="it-header-5-logo">
         <a href="/">
          <img alt="" src="/img/logo/logo-black.png"/>
         </a>
        </div>
       </div>
{{ partial "nav-page" . }}
       <!--<div class="col-xl-3 col-6">
        <div class="it-header-2-left d-flex align-items-center justify-content-end">
         <div class="it-header-2-icon">
          <a href="cart.html">
           <i class="fa-regular fa-cart-shopping">
           </i>
          </a>
         </div>
         <div class="it-header-2-button d-none d-md-block">
          <a class="it-btn" href="contact.html">
           <span>
            با ما تماس بگیرید
            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
             <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
             <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
            </svg>
           </span>
          </a>
         </div>
         <div class="it-header-2-bar d-xl-none">
          <button class="it-menu-bar">
           <i class="fa-solid fa-bars">
           </i>
          </button>
         </div>
        </div>
       </div>-->
      </div>
     </div>
    </div>
   </div>
  </header>
  <main>
   <div class="it-breadcrumb-area it-breadcrumb-bg" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="it-breadcrumb-content z-index-3 text-center">
        <div class="it-breadcrumb-title-box">
         <h3 class="it-breadcrumb-title">
          شهریه کمپ
        </div>
        <div class="it-breadcrumb-list-wrap">
         <div class="it-breadcrumb-list">
          <span>
           <a href="/">
            صفحه اصلی
           </a>
          </span>
          <span class="dvdr">
           /
          </span>
          <span>
           قیمت
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-price-area pt-120 pb-60">
    <div class="container">
     <div class="row">
     <h5 style="padding-bottom: 10px; text-align: center;">
     <span style="color: gray;">کمپ‌ها معمولاً در سه ترم برگزار می‌شود</span>
     </h5>
     <h2 style="padding-bottom: 100px; text-align: center;">
     با امکان پرداخت در چهار قسط
     </h2>
      <div class="col-xl-4 col-lg-6 col-md-6 mb-60">
       <div class="it-price-item-wrap active">
        <div class="it-price-category text-center">
         <span>
          ثبت‌نام عادی
         </span>
        </div>
        <div class="it-price-item">
         <div class="it-price-category-wrap">
          <div class="it-price-month text-center">
           <span>
            اکنون
           </span>
          </div>
         </div>
         <div class="it-price-list text-center">
          <p>
           در کمپ‌های ما از طریق آموزش‌های پروژه‌محور مهارت‌های خود را ارتقا می‌دهید. ثبت‌نام بیش از یک ترم اقساطی است.
          </p>
          <ul>
           <li>
            <i class="fa-light fa-check">
            </i>
            با اعطای مدرک
           <li>
            <i class="fa-light fa-check">
            </i>
            منتورشیپ
           </li>
           <li>
            <i class="fa-light fa-check">
            </i>
            دسترسی به جلسات ضبط‌شده
           <li>
            <i class="fa-light fa-check">
            </i>
            امکان کارآموزی در شرکت‌های همکار
           </li>
           </li>
          </ul>
         </div>
         <a class="it-btn w-100 text-center" href="https://wecamp.porsline.ir/s/nextcamp">
          <span>           ثبت‌نام با تخفیف
           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mb-60">
       <div class="it-price-item-wrap">
        <div class="it-price-category text-center">
         <span>
          اسکالرشیپ
         </span>
        </div>
        <div class="it-price-item">
         <div class="it-price-category-wrap">
          <div class="it-price-month text-center">
           <span>
            زنان
           </span>
          </div>
         </div>
         <div class="it-price-list text-center">
          <p>
          به منظور تسهیل حضور بیشتر زنان در موقعیت‌های شغلی تخصصی، در صورت تمایل تخفیف‌هایی اعمال می‌شود.

          </p>
          <ul>
           <li>
            <i class="fa-light fa-check">
            </i>
            با اعطای مدرک
           <li>
            <i class="fa-light fa-check">
            </i>
            منتورشیپ
           </li>
           <li>
            <i class="fa-light fa-check">
            </i>
            دسترسی به جلسات ضبط‌شده
           <li>
            <i class="fa-light fa-check">
            </i>
            امکان کارآموزی در شرکت‌های همکار
           </li>
           </li>
          </ul>
         </div>
         <a class="it-btn w-100 text-center" href="https://wecamp.porsline.ir/s/nextcamp">
          <span>
          ثبت‌نام با تخفیف
           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mb-60">
       <div class="it-price-item-wrap">
        <div class="it-price-category text-center">
         <span>
          ویژه شرکت‌ها
         </span>
        </div>
        <div class="it-price-item">
         <div class="it-price-category-wrap">
          <div class="it-price-month text-center">
           <span>
            سازمانی
           </span>
          </div>
         </div>
         <div class="it-price-list text-center">
          <p>
           سازمان‌ها می‌توانند با ثبت‌نام گروهی در کمپ‌های آموزشی ما از تخفیف‌های ویژه بهره‌مند شوند.
          <ul>
           <li>
            <i class="fa-light fa-check">
            </i>
            با اعطای مدرک
           <li>
            <i class="fa-light fa-check">
            </i>
            منتورشیپ
           </li>
           <li>
            <i class="fa-light fa-check">
            </i>
            دسترسی به جلسات ضبط‌شده
           <li>
            <i class="fa-light fa-check">
            </i>
            امکان ارزیابی
           </li>
           </li>
          </ul>
         </div>
         <a class="it-btn w-100 text-center" href="/contact">
          <span>
           تماس بگیرید
           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
{{ partial "newsletter" . }}
  </main>
{{ partial "footer" . }}
  <script src="/js/jquery.js">
  </script>
  <script src="/js/waypoints.js">
  </script>
  <script src="/js/bootstrap.bundle.min.js">
  </script>
  <script src="/js/slick.min.js">
  </script>
  <script src="/js/magnific-popup.js">
  </script>
  <script src="/js/purecounter.js">
  </script>
  <script src="/js/wow.js">
  </script>
  <script src="/js/nice-select.js">
  </script>
  <script src="/js/swiper-bundle.js">
  </script>
  <script src="/js/isotope-pkgd.js">
  </script>
  <script src="/js/imagesloaded-pkgd.js">
  </script>
  <script src="/js/ajax-form.js">
  </script>
  <script src="/js/main.js">
  </script>
        <!-- To ensure that the preloader does not wait more than 500 miliseconds -->
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
            let preloader = document.getElementById("preloader");
            preloader.style.transition = "opacity 0.5s ease";
            preloader.style.opacity = "0";
            setTimeout(() => preloader.style.display = "none", 500); // Extra delay to remove it after fade-out
            }, 500);
        });
        </script>
 </body>
</html>
