       <div class="teacher-card w-dyn-item" data-w-id="945d6bba-2e47-4980-1cde-f00d1287770b" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="card teachers">
         <div class="teacher-card-wrapper">
          <a class="card-title-link teachers w-inline-block" data-w-id="945d6bba-2e47-4980-1cde-f00d1287770e" href="https://www.linkedin.com/in/komeil-roudi-7b62536b">
           <img alt="مدرس" class="image teachers" src="/img/camps/square/کمیل_رودی.jpg"/>
           <h2 class="title teachers heading-h3-size">
            کمیل رودی
           </h2>
          </a>
          <div class="teachers-work">
           مشاور مدیریت مالی
          </div>
          <p class="paragraph teachers-text">
           آکادمی هوش مالی
          </p>
          <a class="button-secondary w-button" href="https://www.linkedin.com/in/komeil-roudi-7b62536b">
           لینکدین
          </a>
         </div>
        </div>
       </div>
