<!DOCTYPE html>
<!-- This site was created in Webflow. https://webflow.com -->
<!-- Last Published: Thu Nov 28 2024 18:23:02 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="academytemplate.webflow.io" data-wf-page="5f52d24bbe17c5ca921c6bfa" data-wf-site="5f52d24bbe17c561061c6b7a" data-wf-status="1" lang="en">
{{ partial "head" . }}
 <body>
  <div class="page-wrapper">
{{ partial "nav" . }}
   <section class="licenses-hero" data-w-id="9f32ac4c-08b5-9e42-fe55-3b059cd1e540" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-medium">
     <div class="text-center">
      <div class="color-white">
       <h1 class="color-white" data-w-id="9f32ac4c-08b5-9e42-fe55-3b059cd1e544" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        همکاری با سازمان‌ها
       </h1>
       <p data-w-id="9f32ac4c-08b5-9e42-fe55-3b059cd1e546" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        آموزشگاه وی‌کمپ همواره به دنبال ایجاد شراکت‌های موثر با سازمان‌ها و شرکت‌ها است تا مهارت‌های نیروی انسانی را در زمینه فناوری و دیجیتال به بالاترین سطح ارتقا دهد.
        <br/>
        <br/>
        ما با ارائه دوره‌های تخصصی و کاربردی، راهکارهایی متناسب با نیازهای سازمان شما طراحی می‌کنیم تا تیم شما بتواند با سرعت و کیفیت بالا، دانش خود را به‌روز و عملیاتی کند.
        <br/>
        <br/>
        اگر سازمان شما به دنبال ارتقای مهارت تیم‌های فناوری، دیجیتال مارکتینگ، برنامه‌نویسی یا داده‌کاوی است، همکاری با وی‌کمپ می‌تواند مسیر رشد شما را هموار کند. برای شروع همکاری و مشاوره در زمینه برنامه‌های آموزشی سازمانی، با ما در تماس باشید.
       </p>
      </div>
     </div>
    </div>
   </section>
   <section class="section licens" data-w-id="9f32ac4c-08b5-9e42-fe55-3b059cd1e54b" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-medium-810px" data-w-id="9f32ac4c-08b5-9e42-fe55-3b059cd1e54c" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
     <div class="container-small-left">
      <h2>
       مزایای همکاری
      </h2>
      <p>
همکاری با وی‌کمپ به سازمان‌ها این امکان را می‌دهد که فرهنگ یادگیری مستمر را در تیم‌های خود نهادینه کنند و با بهره‌گیری از متدهای آموزشی روز دنیا، کارکنان خود را برای چالش‌های واقعی صنعت آماده سازند. این رویکرد نه تنها مهارت‌های فردی را تقویت می‌کند، بلکه کارایی تیم و بهره‌وری سازمان را نیز به شکل قابل توجهی افزایش می‌دهد. با وی‌کمپ، سازمان‌ها می‌توانند اطمینان حاصل کنند که سرمایه‌گذاری در آموزش کارکنان، بازده ملموس و پایدار خواهد داشت.
      </p>
     </div>
     <div class="mg-top-40px">
      <h3>
       دوره‌های اختصاصی سازمانی
      </h3>
      <p>
       آموزش توسط متخصصانی که تجربه عملی در صنعت دارند.
      </p>
     </div>
     <div class="mg-top-40px">
      <div class="divider licenses"></div>
      <h3>
       اساتید حرفه‌ای و باتجربه
      </h3>
      <p>
       آموزش توسط متخصصانی که تجربه عملی در صنعت دارند.
      </p>
     </div>
     <div class="mg-top-40px">
      <div class="divider licenses"></div>
      <h3>
       پشتیبانی و ارزیابی مستمر
      </h3>
      <p>
       سنجش مهارت‌ها و ارائه بازخورد برای اطمینان از یادگیری موثر.
      </p>
     </div>
     <div class="mg-top-40px">
      <div class="divider licenses"></div>
      <h3>
       انعطاف در زمان‌بندی و شیوه آموزش
      </h3>
      <p>
       امکان برگزاری دوره‌ها به صورت حضوری، آنلاین یا ترکیبی، با توجه به نیاز سازمان.
       .
      </p>
     </div>
    </div>
   </section>
{{ partial "footer" . }}
  </div>
{{ partial "chat-popup" . }}
  <script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="/js/jquery-3.5.1.min.js" type="text/javascript">
  </script>
  <script src="/js/wf.js" type="text/javascript">
  </script>
 </body>
</html>
