         <a class="card-image-link w-inline-block" href="/camps/product-design">
          <img alt="Design Course" class="image course" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 72vw, (max-width: 1439px) 30vw, 406px" src="/img/index/product-design-1.png" srcset="/img/index/product-design-1-p500.png 500w, /img/index/product-design-1.png 738w"/>
         </a>
         <div class="card-content">
          <a class="card-title-link w-inline-block" href="/camps/product-design">
           <h3 class="title course">
            دیزاین محصول
           </h3>
          </a>
          <p>
           این کمپ پیش‌نیاز ندارد. داشتن بک‌گراند در حوزه‌هایی مانند گرافیک، UI/UX، تحلیل داده، مارکتینگ و تحقیقات بازار یا روانشناسی به شما در این مسیر شغلی کمک خواهد کرد.

          </p>
          <div class="divider course-card">
          </div>
          <div class="course-card-details-wrapper">
           <div class="level-wrapper">
            <img alt="Beginners" class="level-icon" src="/img/icons/level-01.svg"/>
            <img alt="Medium Icon" class="level-icon w-condition-invisible" src="/img/icons/level-02.svg"/>
            <img alt="Experts Icon" class="level-icon w-condition-invisible" src="/img/icons/level-03.svg"/>
            <div class="w-dyn-list">
             <div class="levels-list w-dyn-items" role="list">
              <div class="level-text-wrapper w-dyn-item" role="listitem">
               <a class="level-text" href="#">
                ورود به بازار کار
               </a>
              </div>
             </div>
            </div>
           </div>
           <div class="course-card-price" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
            در حال برگزاری
           </div>
          </div>
         </div>
