<div class="it-about-3-area pt-120 pb-120 p-relative" id="about">
                <!--<div class="it-about-3-right-shape-4 d-none d-lg-block">
                    <img alt="" src="/img/about/about-3-shap-4.png" />
                </div>-->
                <div class="it-about-3-right-shape-5 d-none d-lg-block">
                    <img alt="" src="/img/about/about-3-shap-5.png" />
                </div>
                <div class="container">
                    <div class="row g-0 align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="it-about-3-right-box text-end p-relative">
                                <!--<div class="it-about-3-right-shape-1 d-none d-lg-block">
                                    <img alt="" src="/img/about/about-3-shap-1.png" />
                                </div>-->
                                <div class="it-about-3-right-shape-2 d-none d-lg-block">
                                    <img alt="" src="/img/about/about-3-shap-2.png" />
                                </div>
                                <div class="it-about-3-thumb">
                                    <img alt="" src="/img/about/about-3-img.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="it-about-3-title-box">
                                <span class="it-section-subtitle-3">
                                    <img alt="" src="/img/about/bg.svg" />
                                    درباره ما
                                </span>
                                <h2 class="it-section-title-3 pb-30">
                                    آموزشی
                                    <span>
                                    واقعی
                                    </span>
                                    فراتر از بوت‌کمپ
                                </h2>
                                <p>
                                وی‌کمپ یک مؤسسه آموزشی تخصصی است که مهارت‌های
                                <b>
                                کاربردی و عملی
                                </b>
                                موردنیاز بازار کار را به علاقه‌مندان ارائه می‌دهد. با برگزاری کمپ‌های تخصصی در حوزه‌های رایانش ابری، دواپس، برنامه‌نویسی، مدیریت محصول، طراحی و امنیت سایبری فرصتی را فراهم می‌کنیم تا فراگیران با چالش‌های واقعی صنعت مواجه شده و مهارت‌هایی را کسب کنند که مستقیماً در مسیر حرفه‌ای آن‌ها مؤثر باشد.
                                </p>
                            </div>
                            <div class="it-about-3-mv-box">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="it-about-3-mv-item">
                                            <span class="it-about-3-mv-title">
                                                ماموریت ما:
                                            </span>
                                            <p>
                                                در وی‌کمپ، یادگیری را یک سفر عمیق و کاربردی می‌دانیم. ما با آموزش گام‌به‌گام مهارت‌های عملی و پروژه‌محور، به فراگیران کمک می‌کنیم تا مسائل واقعی را حل کنند و با اعتمادبه‌نفس وارد بازار کار شوند.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="it-about-3-mv-item">
                                            <span class="it-about-3-mv-title">
                                                چشم انداز ما:
                                            </span>
                                            <p>
                                                وی‌کمپ بستری برای ساختن آینده شغلی است. هدف ما تبدیل‌شدن به مرجع معتبر و پیشرو در آموزش مهارت‌های تخصصی است، جایی که هر دوره، فراگیران را یک گام به موفقیت نزدیک‌تر می‌کند. ما فراتر از آموزش، مسیر رشد و پیشرفت حرفه‌ای را هموار می‌سازیم.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="it-about-3-btn-box p-relative">
                                <a class="it-btn-white" href="/camps/cloud-architects">
                                    <span>
                                        پذیرش باز است
                                        <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                        </svg>
                                    </span>
                                </a>
                                <div class="it-about-3-right-shape-3 d-none d-md-block">
                                    <img alt="" src="/img/about/about-3-shap-3.png" />
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Section: About Us -->
