            <div class="it-career-area it-career-style-3 it-career-bg p-relative pb-100 pt-120" data-background="/img/course/course-bg.png" id="active">
                <!--<div class="it-career-shape-3 d-none d-xl-block">
                    <img alt="" src="/img/career/shape-1-2.png" />
                </div>
                <div class="it-career-shape-6 d-none d-xl-block">
                    <img alt="" src="/img/career/shape-1-5.png" />
                </div>-->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="it-course-title-box text-center mb-60">
                                <span class="it-section-subtitle-3">
                                    <img alt="" src="/img/about/bg.svg" />
                                    کمپ‌های فعال
                                    <img alt="" src="/img/about/bg.svg" />
                                </span>
                                <h4 class="it-section-title-3">
                                    در حال ثبت‌نام
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 mb-30">
                            <div class="it-career-item p-relative fix">
                                <div class="it-career-content">
                                    <span>
                                        معماران ابر
                                    </span>
                                    <p>کمپ زیرساخت ابری با تکیه بر تکنولوژی‌های <br />متن‌باز از جمله اپن‌استک</p>
                                    <a class="it-btn-yellow mr-15" href="/camps/cloud-architects">
                                        <span>
                                            نام‌نویسی
                                            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                                <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                                <div class="it-career-thumb">
                                    <img alt="" src="/img/career/thumb-1.png" />
                                </div>
                                <div class="it-career-shape-1">
                                    <img alt="" src="/img/career/shape-1.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-30">
                            <div class="it-career-item p-relative fix">
                                <div class="it-career-content">
                                    <span>
                                        جادوی طراحی
                                    </span>
                                    <p>کمپ طراحی محصول؛ پرداختن به UI/UX، <br />مفاهیم و ابزارها</p>
                                    <a class="it-btn-yellow mr-15" href="/camps/design-magic">
                                        <span>
                                            نام‌نویسی
                                            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                                <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                                <div class="it-career-thumb">
                                    <img alt="" src="/img/career/thumb-2.png" />
                                </div>
                                <div class="it-career-shape-1">
                                    <img alt="" src="/img/career/shape-1.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
