            <div class="it-value-area pt-120 pb-120 p-relative fix">
                <div class="it-value-shape-1 d-none d-xxl-block">
                    <img alt="" src="/img/value/value-shape-3.jpg" />
                </div>
                <div class="it-value-shape-2 d-none d-xl-block">
                    <img alt="" src="/img/value/value-shape-4.jpg" />
                </div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="it-value-title-box">
                                <span class="it-section-subtitle-3">
                                    <img alt="" src="/img/about/bg.svg" />
                                    سوالات متداول
                                </span>
                                <h4 class="it-section-title-3 pb-25">
                                    چرا
                                    <span>
                                        وی‌کمپ
                                    </span>

                                </h4>
                                <p>
                                    باور داریم که یادگیری بدون عجله نتیجه‌بخش است!
                                    <br />
                                    ما در کمپ‌هایی که برگزار می‌کنیم به موارد زیر توجه داریم
                                </p>
                            </div>
                            <div class="it-custom-accordion it-custom-accordion-style-2">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-items tp-faq-active">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button aria-controls="collapseOne" aria-expanded="true" class="accordion-buttons" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                                                    یادگیری عمیق و جامع، نه بوت‌کمپ فشرده!
                                                </button>
                                            </h2>
                                            <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
                                                <div class="accordion-body d-flex align-items-center">
                                                    <p class="mb-0">
                                                        وی‌کمپ برخلاف بوت‌کمپ‌های کوتاه‌مدت، با برنامه‌ای سه‌مرحله‌ای در بازه ۹ ماهه، به شما کمک می‌کند مهارت‌های شغلی را به‌صورت اصولی و کاربردی یاد بگیرید. محتوای آموزشی کامل و درگیرکننده طراحی شده تا شما را برای بازار کار واقعی آماده کند، نه صرفاً برای گذراندن یک دوره سریع!
                                                    </p>
                                                    <img alt="" class="d-none d-xl-block" src="assets/img/faq/thumb-2.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-items">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-buttons collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
                                                    منتورشیپ حرفه‌ای در کنار اساتید متخصص
                                                </button>
                                            </h2>
                                            <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
                                                <div class="accordion-body d-flex align-items-center">
                                                    <p class="mb-0">
                                                        در وی‌کمپ فقط با اساتید متخصص یاد نمی‌گیرید، بلکه در کنار بهترین مربیان و منتورها مسیر یادگیری شما شخصی‌سازی شده و با پشتیبانی حرفه‌ای همراه است. در هر مرحله، از مشاوره و هدایت افرادی با تجربه بهره‌مند می‌شوید تا مهارت‌های خود را در سطح بالایی تقویت کنید.
                                                    </p>
                                                    <img alt="" class="d-none d-xl-block" src="assets/img/faq/thumb-2.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-items">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button aria-controls="collapseThree" aria-expanded="false" class="accordion-buttons collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
                                                     امکانات آموزشی پیشرفته و تجربه عملی
                                                </button>
                                            </h2>
                                            <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
                                                <div class="accordion-body d-flex align-items-center">
                                                    <p class="mb-0">
                                                        وی‌کمپ نه‌تنها محتوای قوی ارائه می‌دهد، بلکه ابزارهای آموزشی ضروری مانند آزمایشگاه‌های مجازی و محیط‌های عملی را نیز برای تمرین مهارت‌های شغلی در اختیار شما قرار می‌دهد. این ترکیب یادگیری تئوری و تجربه عملی، باعث می‌شود فارغ‌التحصیلان وی‌کمپ با اطمینان بیشتری وارد بازار کار شوند.
                                                    </p>
                                                    <img alt="" class="d-none d-xl-block" src="assets/img/faq/thumb-2.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="it-value-left-wrap text-end p-relative">
                                <div class="it-value-left-img p-relative">
                                    <img alt="" src="/img/value/value-1.jpg" />
                                    <!--<a class="it-value-play-btn popup-video" href="https://www.youtube.com/watch?v=zJ6WbK9zFpI">
                                        <i class="fa-sharp fa-solid fa-play"></i>
                                    </a>-->
                                </div>
                                <div class="it-value-img-shape d-none d-xl-block">
                                    <img alt="" src="/img/value/value-shape-2.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
