            <div class="it-feature-3-area it-feature-3-bg grey-bg pt-120 pb-90" data-background="/img/feature/feature-bg.png" id="services">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-7 col-md-8">
                            <div class="it-feature-3-title-box text-center mb-60">
                                <span class="it-section-subtitle-3">
                                    <img alt="" src="/img/about/bg.svg" />
                                    ویژگی‌های وی‌کمپ
                                    <img alt="" src="/img/about/bg.svg" />
                                </span>
                                <h4 class="it-section-title-3">
                                    مسیر حرفه‌ای خود را با وی‌کمپ ارتقا دهید.
                                    <br />
                                    برنده هر مصاحبه‌ای
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="it-feature-3-item mb-30 text-center">
                                <div class="it-feature-3-icon">
                                    <span>
                                        <i class="flaticon-video"> </i>
                                    </span>
                                </div>
                                <div class="it-feature-3-content">
                                    <h4 class="it-feature-3-title">
                                        <a href="service-details.html">
                                            ایجاد شبکه ارتباطی
                                        </a>
                                    </h4>
                                    <p>
                                        وی‌کمپ بستری برای شبکه‌سازی با دیگر حرفه‌ای‌ها و متخصصان صنعت فراهم می‌کند. با گسترش روابط حرفه‌ای، فرصت‌های شغلی بیشتری خواهید یافت.
                                    </p>
                                </div>
<!--                                <div class="it-feature-3-btn">
                                    <a class="it-btn-theme-sm" href="service-details.html">
                                        <span>
                                            ثبت‌نام در رویدادها
                                            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                                <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="it-feature-3-item mb-30 text-center">
                                <div class="it-feature-3-icon">
                                    <span>
                                        <i class="flaticon-study"> </i>
                                    </span>
                                </div>
                                <div class="it-feature-3-content">
                                    <h4 class="it-feature-3-title">
                                        <a href="service-details.html">
                                            باشگاه اعضای وی‌کمپ
                                        </a>
                                    </h4>
                                    <p>
                                        با عضویت در باشگاه، از منابع ویژه و برنامه‌های انحصاری بهره‌مند شوید. باشگاه اعضا فرصتی است برای ارتباط مستمر و توسعه حرفه‌ای.
                                    </p>
                                </div>
                                <!--<div class="it-feature-3-btn">
                                    <a class="it-btn-theme-sm" href="service-details.html">
                                        <span>
                                            عضویت در باشگاه
                                            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                                <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="it-feature-3-item mb-30 text-center">
                                <div class="it-feature-3-icon">
                                    <span>
                                        <i class="flaticon-booking"> </i>
                                    </span>
                                </div>
                                <div class="it-feature-3-content">
                                    <h4 class="it-feature-3-title">
                                        <a href="service-details.html">
                                            تسهیل مسیر استخدام
                                        </a>
                                    </h4>
                                    <p>
                                        ما با آموزش عمیق و مهارت‌های کاربردی، شما را برای ورود به بازار کار آماده می‌کنیم. هدف ما تسهیل استخدام در معتبرترین شرکت‌های فناوری است.
                                    </p>
                                </div>
                                <!--<div class="it-feature-3-btn">
                                    <a class="it-btn-theme-sm" href="service-details.html">
                                        <span>
                                            فرصت‌های شغلی
                                            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                                <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="it-feature-3-item mb-30 text-center">
                                <div class="it-feature-3-icon">
                                    <span>
                                        <i class="flaticon-coach"> </i>
                                    </span>
                                </div>
                                <div class="it-feature-3-content">
                                    <h4 class="it-feature-3-title">
                                        <a href="service-details.html">
                                            مربی‌گری حرفه‌ای
                                        </a>
                                    </h4>
                                    <p>
                                        در وی‌کمپ از راهنمایی بهترین مربیان بهره‌مند شوید. هر گام از مسیر یادگیری شما با پشتیبانی حرفه‌ای و شخصی‌سازی‌شده همراه است.
                                    </p>
                                </div>
                                <!--<div class="it-feature-3-btn">
                                    <a class="it-btn-theme-sm" href="service-details.html">
                                        <span>
                                            شروع مسیر با مربی
                                            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                                <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
