            <div class="it-team-3-area p-relative z-index pt-110 pb-90" id="team">
                <div class="it-team-3-bg" data-background="/img/team/bg-3.png"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="it-event-title-box text-center pb-40">
                                <span class="it-section-subtitle-3 text-white">
                                    <img alt="" src="/img/about/bg-2.svg" />
                                    معلم
                                    <img alt="" src="/img/about/bg-2.svg" />
                                </span>
                                <h2 class="it-section-title-3 text-white">
                                    با مربی متخصص ما آشنا شوید
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                            <div class="it-team-3-item text-center">
                                <div class="it-team-3-thumb fix">
                                    <img alt="" src="/img/team/team-3-1.jpg" />
                                </div>
                                <div class="it-team-3-content">
                                    <div class="it-team-3-social-box p-relative">
                                        <button>
                                            <i class="fa-light fa-share-nodes"> </i>
                                        </button>
                                        <div class="it-team-3-social-wrap">
                                            <a href="#">
                                                <i class="fa-brands fa-instagram"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-facebook-f"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-pinterest-p"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-linkedin-in"> </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="it-team-3-author-box">
                                        <h4 class="it-team-3-title">
                                            <a href="teacher-details.html">
                                                ناتان آلن
                                            </a>
                                        </h4>
                                        <span>
                                            معلم
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                            <div class="it-team-3-item text-center">
                                <div class="it-team-3-thumb fix">
                                    <img alt="" src="/img/team/team-3-2.jpg" />
                                </div>
                                <div class="it-team-3-content">
                                    <div class="it-team-3-social-box p-relative">
                                        <button>
                                            <i class="fa-light fa-share-nodes"> </i>
                                        </button>
                                        <div class="it-team-3-social-wrap">
                                            <a href="#">
                                                <i class="fa-brands fa-instagram"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-facebook-f"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-pinterest-p"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-linkedin-in"> </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="it-team-3-author-box">
                                        <h4 class="it-team-3-title">
                                            <a href="teacher-details.html">
                                                استر بوید
                                            </a>
                                        </h4>
                                        <span>
                                            معلم
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                            <div class="it-team-3-item text-center">
                                <div class="it-team-3-thumb fix">
                                    <img alt="" src="/img/team/team-3-3.jpg" />
                                </div>
                                <div class="it-team-3-content">
                                    <div class="it-team-3-social-box p-relative">
                                        <button>
                                            <i class="fa-light fa-share-nodes"> </i>
                                        </button>
                                        <div class="it-team-3-social-wrap">
                                            <a href="#">
                                                <i class="fa-brands fa-instagram"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-facebook-f"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-pinterest-p"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-linkedin-in"> </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="it-team-3-author-box">
                                        <h4 class="it-team-3-title">
                                            <a href="teacher-details.html">
                                                جیمی کلر
                                            </a>
                                        </h4>
                                        <span>
                                            معلم
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                            <div class="it-team-3-item text-center">
                                <div class="it-team-3-thumb fix">
                                    <img alt="" src="/img/team/team-3-4.jpg" />
                                </div>
                                <div class="it-team-3-content">
                                    <div class="it-team-3-social-box p-relative">
                                        <button>
                                            <i class="fa-light fa-share-nodes"> </i>
                                        </button>
                                        <div class="it-team-3-social-wrap">
                                            <a href="#">
                                                <i class="fa-brands fa-instagram"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-facebook-f"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-pinterest-p"> </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa-brands fa-linkedin-in"> </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="it-team-3-author-box">
                                        <h4 class="it-team-3-title">
                                            <a href="teacher-details.html">
                                                عیسی پندلی
                                            </a>
                                        </h4>
                                        <span>
                                            معلم
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
