.circle-shape-new-teachers._1 {
  left: auto;
  right: -21px;
}

.circle-shape-new-teachers._3 {
  right: auto;
  left: 65px;
}

.circle-shape-new-teachers._2 {
  left: auto;
  right: 52px;
}

.circle-shape-new-teachers._4 {
  right: auto;
  left: -46px;
}

.circle-shape-cta._1 {
  left: auto;
  right: -246px;
}

.circle-shape-cta._2 {
  left: auto;
  right: 301px;
}

.circle-shape-cta._4 {
  right: auto;
  left: -295px;
}

.circle-shape-cta._3 {
  right: auto;
  left: 206px;
}

.circle-shape-404._1 {
  right: auto;
  left: -221px;
}

.circle-shape-404._2 {
  left: auto;
  right: -50px;
}

.circle-shape-404._4 {
  right: auto;
  left: -104px;
}

.circle-shape-404._5 {
  left: auto;
  right: -166px;
}

.circle-shape-newsletter-events._4 {
  right: auto;
  left: -272px;
}

.circle-shape-newsletter-events._3 {
  right: auto;
  left: 108px;
}

.circle-shape-newsletter-events._2 {
  left: auto;
  right: 265px;
}

.circle-shape-newsletter-events._1 {
  left: auto;
  right: -207px;
}

.circle-shape-courses._4 {
  right: auto;
  left: -86px;
}

.circle-shape-courses._3 {
  left: auto;
  right: 332px;
}

.circle-shape-courses._1 {
  left: auto;
  right: -122px;
}

.circle-shape-courses._2 {
  left: auto;
  right: -255px;
}

.circle-shape-testimonial._4 {
  right: auto;
  left: -371px;
}

.circle-shape-testimonial._2 {
  right: auto;
  left: 369px;
}

.circle-shape-testimonial._3 {
  right: auto;
  left: -115px;
}

.circle-shape-testimonial._1 {
  left: auto;
  right: -313px;
}
.circle-shape-about-section._1 {
  left: auto;
  right: -294px;
}

.circle-shape-about-section._2 {
  left: auto;
  right: 350px;
}

.circle-shape._01 {
  left: auto;
  right: -358px;
}

.circle-shape._02 {
  left: auto;
  right: -63px;
}

.circle-shape._03 {
  right: auto;
  left: 327px;
}

.circle-shape._04 {
  right: auto;
  left: 143px;
}

.circle-shape._05 {
  right: auto;
  left: -267px;
}

.circle-shape-courses-category._1 {
  left: auto;
  right: -93.5px;
}

.circle-shape-courses-category._2 {
  left: auto;
  right: -393.5px;
}

.circle-shape-courses-category._4 {
  right: auto;
  left: -295px;
}

.circle-shape-courses._4 {
  right: auto;
  left: -86px;
}

.circle-shape-courses._3 {
  left: auto;
  right: 332px;
}

.circle-shape-courses._1 {
  left: auto;
  right: -122px;
}

.circle-shape-courses._2 {
  left: auto;
  right: -255px;
}

.circle-shape-testimonial._4 {
  right: auto;
  left: -371px;
}

.circle-shape-testimonial._2 {
  right: auto;
  left: 369px;
}

.circle-shape-testimonial._3 {
  right: auto;
  left: -115px;
}

.circle-shape-testimonial._1 {
  left: auto;
  right: -313px;
}

.circle-shape-courses._4 {
  right: auto;
  left: -86px;
}

.circle-shape-courses._3 {
  left: auto;
  right: 332px;
}

.circle-shape-courses._1 {
  left: auto;
  right: -122px;
}

.circle-shape-courses._2 {
  left: auto;
  right: -255px;
}

.circle-shape-testimonial._4 {
  right: auto;
  left: -371px;
}

.circle-shape-testimonial._2 {
  right: auto;
  left: 369px;
}

.circle-shape-testimonial._3 {
  right: auto;
  left: -115px;
}

.circle-shape-testimonial._1 {
  left: auto;
  right: -313px;
}

@media screen and (max-width: 991px) {
  .circle-shape-new-teachers._3 {
    right: auto;
    left: 35px;
  }

  .circle-shape-new-teachers._2 {
    left: auto;
    right: 28px;
  }

  .circle-shape-new-teachers._4 {
    right: auto;
    left: -18px;
  }

  .circle-shape-404._1 {
    right: auto;
    left: -162px;
  }

  .circle-shape-newsletter-events._4 {
    right: auto;
    left: -195px;
  }

  .circle-shape-newsletter-events._3 {
    right: auto;
    left: 56px;
  }

  .circle-shape-newsletter-events._2 {
    left: auto;
    right: -111px;
  }

  .circle-shape-courses._3 {
    left: auto;
    right: 407px;
  }

  .circle-shape-courses._1 {
    left: auto;
    right: 296px;
  }

  .circle-shape-courses._2 {
    left: auto;
    right: -244px;
  }

  .circle-shape-testimonial._4 {
    right: auto;
    left: -170px;
  }

  .circle-shape-testimonial._2 {
    inset-block-start: -56px;     /* top */
    inset-inline-start: -43px;    /* left in LTR, right in RTL */
  }

  .circle-shape-testimonial._1 {
    left: auto;
    right: -214px;
  }

  .circle-shape-about-section._1 {
    left: auto;
    right: -249px;
  }

  .circle-shape-about-section._2 {
    left: auto;
    right: 531px;
  }

  .circle-shape._03 {
    right: auto;
    left: auto;
  }

  .circle-shape._04 {
    right: auto;
    left: -151px;
  }

  .circle-shape._05 {
    right: auto;
    left: -167px;
  }

  .circle-shape-courses-category._2 {
    left: auto;
    right: -258.5px;
  }

  .circle-shape-courses-category._4 {
    right: auto;
    left: -148px;
  }
}

@media screen and (max-width: 767px) {
  .circle-shape-new-teachers._1 {
    left: auto;
    right: -63px;
  }

  .circle-shape-new-teachers._3 {
    right: auto;
    left: -18px;
  }

  .circle-shape-new-teachers._2 {
    left: auto;
    right: -10px;
  }

  .circle-shape-new-teachers._4 {
    right: auto;
    left: -96px;
  }

  .circle-shape-cta._1 {
    left: auto;
    right: -296px;
  }

  .circle-shape-cta._2 {
    left: auto;
    right: -95px;
  }

  .circle-shape-cta._4 {
    right: auto;
    left: -259px;
  }

  .circle-shape-cta._3 {
    right: auto;
    left: -97px;
  }
  .circle-shape-404._1 {
    right: auto;
    left: -128px;
  }

  .circle-shape-404._2 {
    left: auto;
    right: -87px;
  }

  .circle-shape-404._4 {
    right: auto;
    left: -146px;
  }

  .circle-shape-404._5 {
    left: auto;
    right: -141px;
  }

  .circle-shape-newsletter-events._4 {
    right: auto;
    left: -135px;
  }

  .circle-shape-newsletter-events._2 {
    left: auto;
    right: -57px;
  }

  .circle-shape-newsletter-events._1 {
    left: auto;
    right: -177px;
  }
  .circle-shape-courses._4 {
    right: auto;
    left: -104px;
  }

  .circle-shape-courses._3 {
    left: auto;
    right: 388px;
  }

  .circle-shape-courses._1 {
    left: auto;
    right: 242px;
  }

  .circle-shape-courses._2 {
    left: auto;
    right: -194px;
  }

  .circle-shape-testimonial._2 {
    left: auto;
    right: -55px;
  }

  .circle-shape-testimonial._3 {
    right: auto;
    left: -99px;
  }

  .circle-shape-testimonial._1 {
    left: auto;
    right: -127px;
  }
  .circle-shape-about-section._1 {
    left: auto;
    right: -289px;
  }

  .circle-shape-about-section._2 {
    right: auto;
    left: -60px;
  }
  .circle-shape._01 {
    left: auto;
    right: -288px;
  }

  .circle-shape._03 {
    right: auto;
    left: -120px;
  }

  .circle-shape._05 {
    right: auto;
    left: -82px;
  }
  .circle-shape-courses-category._1 {
    left: auto;
    right: -27.5px;
  }

  .circle-shape-courses-category._2 {
    left: auto;
    right: -243.5px;
  }

  .circle-shape-courses-category._4 {
    right: auto;
    left: -161px;
  }
}

@media screen and (max-width: 479px) {
  .circle-shape-new-teachers._1 {
    left: auto;
    right: -31%;
  }

  .circle-shape-new-teachers._3 {
    right: auto;
    left: 0;
  }

  .circle-shape-new-teachers._2 {
    left: auto;
    right: -6px;
  }

  .circle-shape-new-teachers._4 {
    right: auto;
    left: -51px;
  }
  .circle-shape-cta._1 {
    left: auto;
    right: -181px;
  }

  .circle-shape-cta._4 {
    right: auto;
    left: -125px;
  }

  .circle-shape-cta._3 {
    right: auto;
    left: -71px;
  }
  .circle-shape-courses._4 {
    right: auto;
    left: -104px;
  }

  .circle-shape-courses._3 {
    left: auto;
    right: 388px;
  }

  .circle-shape-courses._1 {
    left: auto;
    right: 242px;
  }

  .circle-shape-courses._2 {
    left: auto;
    right: -194px;
  }

  .circle-shape-testimonial._2 {
    left: auto;
    right: -55px;
  }

  .circle-shape-testimonial._3 {
    right: auto;
    left: -99px;
  }

  .circle-shape-testimonial._1 {
    left: auto;
    right: -127px;
  }
  .circle-shape-newsletter-events._4 {
    right: auto;
    left: -109px;
  }

  .circle-shape-newsletter-events._3 {
    right: auto;
    left: -13px;
  }

  .circle-shape-newsletter-events._2 {
    left: auto;
    right: -165px;
  }

  .circle-shape-newsletter-events._1 {
    left: auto;
    right: -154px;
  }
  .circle-shape-courses._4 {
    right: auto;
    left: -28px;
  }

  .circle-shape-courses._3 {
    left: auto;
    right: 197px;
  }

  .circle-shape-courses._1 {
    left: auto;
    right: 182px;
  }

  .circle-shape-courses._2 {
    left: auto;
    right: -115px;
  }

  .circle-shape-testimonial._4 {
    right: auto;
    left: -190px;
  }

  .circle-shape-testimonial._1 {
    left: auto;
    right: -90px;
  }

  .circle-shape-about-section._1 {
    left: auto;
    right: -126px;
  }

  .circle-shape-about-section._2 {
    left: auto;
    right: 143px;
  }

  .circle-shape._01 {
    left: auto;
    right: -157px;
  }

  .circle-shape._02 {
    left: auto;
    right: -173px;
  }

  .circle-shape._03 {
    right: auto;
    left: -124px;
  }

  .circle-shape._04 {
    right: auto;
    left: -250px;
  }

  .circle-shape._05 {
    right: auto;
    left: -61px;
  }
  .circle-shape-courses-category._1 {
    left: auto;
    right: -104.5px;
  }

  .circle-shape-courses-category._2 {
    left: auto;
    right: -167.5px;
  }

  .circle-shape-courses-category._4 {
    right: auto;
    left: -129px;
  }
}
