   <div class="section cta" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b32">
    <div class="container-default-1209px w-container">
     <div class="cta-wrapper">
      <div class="split-content cta-left" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b35">
       <h2 class="title cta">
        رشد شغلی خود را آغاز کنید!
        <br/>
        یادگیری از همین امروز...
       </h2>
       <p class="paragraph cta">
        مهارت‌های کاربردی را از متخصصان می‌آموزید، تجربه‌های واقعی را تمرین می‌کنید و برای رسیدن به اهداف حرفه‌ای‌تان یک قدم بزرگ برمی‌دارید.
       </p>
       <a class="button-secondary cta w-button" href="/camps">
        همه کمپ‌ها
       </a>
      </div>
      <div class="split-content cta-right" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b3e">
       <img alt="Career Path" class="image cta-1" src="/img/na/banner-main.svg"/>
       <img alt="Career Path" class="image cta-4" src="/img/na/banner-right-down.svg"/>
       <img alt="Career Path" class="image cta-3" src="/img/na/banner-right-up.svg"/>
       <img alt="Career Path" class="image cta-2" src="/img/na/banner-left.svg"/>
      </div>
      <img alt="" class="circle-shape-cta _4" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b43" src="/img/shapes/circle-shape-cta-04.svg"/>
      <img alt="" class="circle-shape-cta _3" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b44" src="/img/shapes/circle-shape-cta-03.svg"/>
      <img alt="" class="circle-shape-cta _2" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b45" src="/img/shapes/circle-shape-cta-02.svg"/>
      <img alt="" class="circle-shape-cta _1" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b46" src="/img/shapes/circle-shape-cta-01.svg"/>
     </div>
    </div>
   </div>
