   <div class="it-price-area pt-120 pb-60" id="pricing">
    <div class="container">
     <div class="row">
     <h5 style="padding-bottom: 10px; text-align: center;">
     <span style="color: gray;">این کمپ در سه ترم برگزار می‌شود</span>
     </h5>
     <h2 style="padding-bottom: 100px; text-align: center;">
     با امکان پرداخت در چهار قسط
     </h2>
      <div class="col-xl-4 col-lg-6 col-md-6 mb-60">
       <div class="it-price-item-wrap active">
        <div class="it-price-category text-center">
         <span>
          ثبت‌نام زودهنگام
         </span>
        </div>
        <div class="it-price-item">
         <div class="it-price-category-wrap">
          <div class="it-price-month text-center">
           <span>
            اکنون
           </span>
          </div>
         </div>
         <div class="it-price-list text-center">
          <p>
           با گدراندن این کمپ از طریق آموزش‌های پروژه‌محور، مهارت‌های خود را ارتقا دهید. ثبت‌نام بیش از یک ترم اقساطی است.
          </p>
          <ul>
           <li>
            <i class="fa-light fa-check">
            </i>
            با اعطای مدرک
           <li>
            <i class="fa-light fa-check">
            </i>
            منتورشیپ
           </li>
           <li>
            <i class="fa-light fa-check">
            </i>
            دسترسی به جلسات ضبط‌شده
           <li>
            <i class="fa-light fa-check">
            </i>
            امکان کارآموزی در شرکت‌های همکار
           </li>
           </li>
          </ul>
         </div>
         <a class="it-btn w-100 text-center" href="https://survey.porsline.ir/s/kty0rvP8?sc=wcp">
          <span>
           <!--<s>۲۳,۰۰۰,۰۰۰ ت</s>۳۳% تخفیف-->
           ۲۳,۰۰۰,۰۰۰ تومان

           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mb-60">
       <div class="it-price-item-wrap">
        <div class="it-price-category text-center">
         <span>
          اسکالرشیپ
         </span>
        </div>
        <div class="it-price-item">
         <div class="it-price-category-wrap">
          <div class="it-price-month text-center">
           <span>
            زنان
           </span>
          </div>
         </div>
         <div class="it-price-list text-center">
          <p>
          به منظور تسهیل حضور بیشتر زنان در موقعیت‌های شغلی تخصصی، در صورت تمایل تخفیف‌هایی اعمال می‌شود.

          </p>
          <ul>
           <li>
            <i class="fa-light fa-check">
            </i>
            با اعطای مدرک
           <li>
            <i class="fa-light fa-check">
            </i>
            منتورشیپ
           </li>
           <li>
            <i class="fa-light fa-check">
            </i>
            دسترسی به جلسات ضبط‌شده
           <li>
            <i class="fa-light fa-check">
            </i>
            امکان کارآموزی در شرکت‌های همکار
           </li>
           </li>
          </ul>
         </div>
         <a class="it-btn w-100 text-center" href="https://survey.porsline.ir/s/kty0rvP8?sc=wcp">
          <span>
           <s>۲۳,۰۰۰,۰۰۰ تومان</s>
          ۴۵% تخفیف
           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mb-60">
       <div class="it-price-item-wrap">
        <div class="it-price-category text-center">
         <span>
          ویژه شرکت‌ها
         </span>
        </div>
        <div class="it-price-item">
         <div class="it-price-category-wrap">
          <div class="it-price-month text-center">
           <span>
            سازمانی
           </span>
          </div>
         </div>
         <div class="it-price-list text-center">
          <p>
           سازمان‌ها می‌توانند با ثبت‌نام گروهی در کمپ‌های آموزشی ما از تخفیف‌های ویژه بهره‌مند شوند.
          <ul>
           <li>
            <i class="fa-light fa-check">
            </i>
            با اعطای مدرک
           <li>
            <i class="fa-light fa-check">
            </i>
            منتورشیپ
           </li>
           <li>
            <i class="fa-light fa-check">
            </i>
            دسترسی به جلسات ضبط‌شده
           <li>
            <i class="fa-light fa-check">
            </i>
            امکان ارزیابی
           </li>
           </li>
          </ul>
         </div>
         <a class="it-btn w-100 text-center" href="/contact">
          <span>
           تماس بگیرید
           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
