   <div class="section learning-center" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637224" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-small-462px text-center w-container" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637225" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
     <h2>
      مرکز آموزش
     </h2>
     <p>
      محتوای عالی برای ارتقای مهارت‌های شما در رشته‌های طراحی، توسعه و فنی را کشف کنید.
     </p>
    </div>
    <div class="container-default-1209px w-container">
     <div class="w-dyn-list">
      <div class="learning-center-section-grid w-dyn-items" role="list">
       <div class="post-card w-dyn-item" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637241" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="card">
         <a class="card-image-link post w-inline-block" href="/post/8-great-design-trends-that-are-coming-back">
          <img alt="alt text" class="image post-card" src="/img/blog/post-1.jpg"/>
         </a>
         <div class="card-content">
          <a class="card-title-link w-inline-block" href="/post/8-great-design-trends-that-are-coming-back">
           <h3 class="title post-card">
            ۸ روند عالی طراحی که دوباره بازمی‌گردند
           </h3>
          </a>
          <p>
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
          <div class="divider card-post">
          </div>
          <a class="card-post-author-wrapper w-inline-block" data-w-id="6288b6c0-964c-5adc-f34f-d4b8510c1e2f" href="/teacher/norma-hicks">
           <img alt="Norma Hicks" class="card-post-author-picture" src="/img/authors/user-1.jpg"/>
           <div class="card-post-author-name">
            تیم نویسندگان
           </div>
          </a>
         </div>
         <a class="category-wrapper w-inline-block" href="/blog-category/design">
          <div class="category-text">
           Design
          </div>
         </a>
        </div>
       </div>
       <div class="post-card w-dyn-item" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637241" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="card">
         <a class="card-image-link post w-inline-block" href="/post/5-great-marketing-trends-to-follow-in-2021">
          <img alt="alt text" class="image post-card" src="/img/blog/post-2.jpg"/>
         </a>
         <div class="card-content">
          <a class="card-title-link w-inline-block" href="/post/5-great-marketing-trends-to-follow-in-2021">
           <h3 class="title post-card">
            ۵ روند برتر بازاریابی که باید امسال دنبال کنید
           </h3>
          </a>
          <p>
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
          <div class="divider card-post">
          </div>
          <a class="card-post-author-wrapper w-inline-block" data-w-id="6288b6c0-964c-5adc-f34f-d4b8510c1e2f" href="/teacher/sophie-moore">
           <img alt="Sophie Moore" class="card-post-author-picture" src="/img/authors/user-2.jpg"/>
           <div class="card-post-author-name">
            تیم نویسندگان
           </div>
          </a>
         </div>
         <a class="category-wrapper w-inline-block" href="/blog-category/marketing">
          <div class="category-text">
           Marketing
          </div>
         </a>
        </div>
       </div>
       <div class="post-card w-dyn-item" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637241" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="card">
         <a class="card-image-link post w-inline-block" href="/post/how-to-design-a-memorable-brand-identity">
          <img alt="alt text" class="image post-card" src="/img/blog/post-3.jpg"/>
         </a>
         <div class="card-content">
          <a class="card-title-link w-inline-block" href="/post/how-to-design-a-memorable-brand-identity">
           <h3 class="title post-card">
            چگونه یک هویت برند به‌یادماندنی طراحی کنیم
           </h3>
          </a>
          <p>
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
          <div class="divider card-post">
          </div>
          <a class="card-post-author-wrapper w-inline-block" data-w-id="6288b6c0-964c-5adc-f34f-d4b8510c1e2f" href="/teacher/john-carter">
           <img alt="John Carter" class="card-post-author-picture" src="/img/authors/user-3.jpg"/>
           <div class="card-post-author-name">
            تیم نویسندگان
           </div>
          </a>
         </div>
         <a class="category-wrapper w-inline-block" href="/blog-category/design">
          <div class="category-text">
           Design
          </div>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="vc-flex" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637245" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
      <a class="button-secondary w-button" href="https://blog.wecamp.pro/">
       مقاله‌های بیشتر
      </a>
     </div>
    </div>
   </div>
