   <div class="section events-section" data-w-id="0b097d78-b776-9e09-a4b6-8ab657637249" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-default-1209px w-container">
     <div class="top-content" data-w-id="0b097d78-b776-9e09-a4b6-8ab65763724b" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
      <div class="split-content events-section">
       <h2>
        رویدادها
       </h2>
       <p class="paragraph mg-bottom-0px">
        فرصت‌های تازه برای یادگیری و رشد، همین جلوتر منتظرت هستند. جدیدترین رویدادهای وی‌کمپ:
      </div>
      <a class="button-secondary w-button" href="/events">
       همه رویدادها
      </a>
     </div>
     <div class="w-dyn-list">
      <div class="events-section-grid w-dyn-items" role="list">
       <div class="w-dyn-item" data-w-id="0b097d78-b776-9e09-a4b6-8ab65763726f" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
{{ partial "events/1404/agentic-ai-2" . }}
{{ partial "events/1404/agentic-ai" . }}
       </div>
<!--       <div class="w-dyn-item" data-w-id="0b097d78-b776-9e09-a4b6-8ab65763726f" role="listitem" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div class="card events">
         <a class="card-image-link events w-inline-block" href="/event/brand-identity-design-qa-with-sophie-moore">
          <img alt="alt text" class="image card-events" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 1439px) 40vw, 495px" src="/img/events/event2.jpg" srcset="/img/events/event2-p500.jpeg 500w, /img/events/event2-p800.jpeg 800w, /img/events/event2.jpg 990w"/>
         </a>
         <div class="card-content events">
          <a class="card-title-link w-inline-block" href="/event/brand-identity-design-qa-with-sophie-moore">
           <h3 class="title card-event">
            پرسش و پاسخ طراحی برند و هویت با سوفی مور
           </h3>
          </a>
          <p>
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
          <div class="divider card-events">
          </div>
          <div class="card-event-details-wrapper">
           <div class="event-date-wrapper">
            <div class="event-date">
             <img alt="Calendar Icon" class="event-icon" src="/img/icons/event-calendar.svg"/>
             <div class="event-details-text">
              ۲ شهریور ۱۴۰۴
             </div>
            </div>
            <div class="event-time">
             <img alt="Clock Icon" class="event-icon" src="/img/icons/event-clock.svg"/>
             <div class="event-details-text">
              ۶:۰۰ عصر
             </div>
            </div>
           </div>
           <div class="event-location-wrapper">
            <img alt="Location Icon" class="event-icon location" src="/img/icons/event-location.svg"/>
            <div class="event-location-text">
             پلتفرم ایسمینار (جلسه آنلاین)
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>-->
      </div>
     </div>
    </div>
   </div>
