<div class="col-xl-7 d-none d-xl-block">
                                        <div class="it-header-2-main-menu">
                                            <nav class="it-menu-content">
                                                <ul class="onepage-menu">
                                                    <li class="has-dropdown p-static">
                                                        <a href="#">
                                                            کمپ‌ها
                                                        </a>
                                                        <div class="it-submenu submenu has-home-img">
                                                            <div class="row gx-6 row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-5">
                                                                <div class="col home-img">
                                                                    <div class="home-img-thumb mb-15">
                                                                        <img alt="" src="/img/menu/home-1.jpg" />
                                                                        <div class="home-img-btn">
                                                                            <a class="it-btn-white-sm" href="/camps/cloud-hunters">
                                                                                ثبت‌نام
                                                                            </a>
                                                                            <!--<a class="it-btn-white-sm" href="index-one-page.html">
                                                                                اطلاعات کمپ
                                                                            </a>-->
                                                                        </div>
                                                                    </div>
                                                                    <div class="home-img-content text-center">
                                                                        <h4 class="home-img-title">
                                                                            <a href="/camps/cloud-hunters">
                                                                                کمپ زیرساخت ابری
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col home-img">
                                                                    <div class="home-img-thumb mb-15">
                                                                        <img alt="" src="/img/menu/home-2.jpg" />
                                                                        <div class="home-img-btn">
                                                                            <!--<a class="it-btn-white-sm" href="index-2.html">
                                                                                ثبت‌نام
                                                                            </a>-->
                                                                            <span class="it-btn-white-sm" href="index-2-one-page.html">
                                                                                به‌زودی...
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="home-img-content text-center">
                                                                        <h4 class="home-img-title">
                                                                            <a href="/camps/devops-taste">
                                                                                کمپ دواپس
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col home-img">
                                                                    <div class="home-img-thumb mb-15">
                                                                        <img alt="" src="/img/menu/home-design.jpg" />
                                                                        <div class="home-img-btn">
                                                                            <a class="it-btn-white-sm" href="/camps/design-magic">
                                                                                ثبت‌نام
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="home-img-content text-center">
                                                                        <h4 class="home-img-title">
                                                                            <a href="/camps/design-magic">
                                                                                کمپ طراحی محصول
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col home-img">
                                                                    <div class="home-img-thumb mb-15">
                                                                        <img alt="" src="/img/menu/home-4.jpg" />
                                                                        <div class="home-img-btn">
                                                                            <!--<a class="it-btn-white-sm" href="index-4.html">
                                                                                ثبت‌نام
                                                                            </a>-->
                                                                            <span class="it-btn-white-sm" href="index-4-one-page.html">
                                                                                به‌زودی...
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="home-img-content text-center">
                                                                        <h4 class="home-img-title">
                                                                            <span href="index-4-one-page.html">
                                                                                کمپ برنامه‌نویسی پایتون
                                                                            </span>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col home-img">
                                                                    <div class="home-img-thumb mb-15">
                                                                        <img alt="" src="/img/menu/home-5.jpg" />
                                                                        <div class="home-img-btn">
                                                                            <!--<a class="it-btn-white-sm" href="index-5.html">
                                                                                ثبت‌نام
                                                                            </a>-->
                                                                            <span class="it-btn-white-sm" href="index-5-one-page.html">
                                                                                به‌زودی...
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="home-img-content text-center">
                                                                        <h4 class="home-img-title">
                                                                            <span href="index-5-one-page.html">
                                                                                کمپ برنامه‌نویسی Go
                                                                            </span>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li  class="active">
                                                        <a href="#course">
                                                            کمپ فعال
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#about">
                                                            درباره ما
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#services">
                                                            خدمات
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/contact">
                                                            ارتباط با ما
                                                        </a>
                                                    </li>
                                                </ul>

                                            </nav>
                                        </div>
                                    </div>
