   <div class="header w-nav" data-animation="default" data-collapse="medium" data-duration="1000" data-easing="ease-out-expo" data-easing2="ease-out-expo" data-w-id="483cd0ea-0ffd-1df5-02c0-5a28799302cc" role="banner">
    <div class="container-default-1209px w-container">
     <div class="header-wrapper">
      <div class="split-content header-left" data-w-id="483cd0ea-0ffd-1df5-02c0-5a28799302cf">
       <a aria-current="page" class="brand w-nav-brand w--current" href="/">
        <img alt="Academy Logo" class="header-logo" src="/img/logo.png"/>
       </a>
       <nav class="nav-menu w-nav-menu" role="navigation">
        <a class="nav-link" href="/">
         خانه
        </a>
        <div class="header-dropdown w-dropdown" data-delay="0" data-hover="false" data-w-id="8d41c972-856f-446c-3022-9951bcba0af8">
         <div class="header-dropdown-toggle w-dropdown-toggle">
          <div class="nav-link">
           آموزش‌ها
           <span class="dropdown-icon">
            
           </span>
          </div>
         </div>
         <nav class="dropdown-list w-dropdown-list">
          <div class="menu-grid-wrapper">
           <div class="w-layout-grid menu-grid">
            <div>
             <h4 class="mega-menu-title hidden-mobile">
              کمپ‌ها
             </h4>
             <div class="menu-2-columns">
              <div class="mega-menu-column-1">
               <a class="mega-menu-link" href="/camps/agentic-ai">
                توسعه عامل‌های هوش مصنوعی
               </a>
               <a class="mega-menu-link" href="/camps/cloud-infra-deployment">
                راه‌اندازی کلود با اپن‌استک
               </a>
               <a class="mega-menu-link" href="/camps/user-research">
                کاربرپژوهی
               </a>
              </div>
              <div class="mega-menu-column-3">
<!--               <a class="mega-menu-link" href="#">
                Placeholder
               </a>-->
              </div>
              <div class="mega-menu-column-3">
<!--               <a class="mega-menu-link" href="">
                Place holder
               </a>-->
              </div>
             </div>
            </div>
            <div class="mega-menu-column-4">
             <h4 class="mega-menu-title">
              مسیرهای شغلی
             </h4>
             <a class="mega-menu-link" href="/path/product-design">
              مسیر کامل دیزاین محصول
             </a>
             <a class="mega-menu-link" href="/path/cloud-engineering">
              مسیر کامل مهندسی کلود
             </a>
             <a class="mega-menu-link" href="/path/ai-engineering">
              مسیر کامل هوش مصنوعی
             </a>
             <a class="mega-menu-link special" href="/path">
              همه برنامه‌های آموزشی
             </a>
            </div>
           </div>
          </div>
         </nav>
        </div>
        <a class="nav-link" href="/about">
         درباره
        </a>
        <a class="nav-link" href="/partnership">
         همکاری سازمانی
        </a>
       </nav>
      </div>
      <div class="split-content header-right" data-w-id="483cd0ea-0ffd-1df5-02c0-5a2879930313">
       <div class="spacer header-right">
       </div>
       {{ partial "cart" . }}
       <a class="button-primary header-button w-button" href="https://go.wecamp.pro/login">
        حساب کاربری
       </a>
       <div class="menu-button w-nav-button" data-w-id="63a3d12c-d009-7b48-0e75-aa6a4e6df1c4">
        <div class="menu-mobile-open">
         <div class="menu-mobile-button-icon" data-animation-type="lottie" data-autoplay="0" data-default-duration="1.6166666666666667" data-direction="1" data-duration="0" data-is-ix2-target="1" data-ix2-initial-state="0" data-loop="0" data-renderer="svg" data-src="/editor.json" data-w-id="dfcc5997-51d1-3127-3d63-550b2551acf9">
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
