<div class="it-newsletter-area it-newsletter-height fix p-relative theme-bg" id="it-newsletter">
  <div class="it-newsletter-shape-1 d-none d-lg-block">
    <img alt="" src=""/>
  </div>
  <div class="it-newsletter-shape-2 d-none d-lg-block">
    <img alt="" src=""/>
  </div>
  <div class="it-newsletter-shape-3 d-none d-xl-block">
    <img alt="" src=""/>
  </div>
  <div class="it-newsletter-shape-4 d-none d-xl-block">
    <img alt="" src=""/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="it-newsletter-right">
          <h4 class="it-section-title text-white pb-20">
            به خبرنامه ما بپیوندید
          </h4>
          <span>
            برای دریافت آخرین اخبار کمپ‌ها در خبرنامه مشترک شوید.
          </span>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="it-newsletter-left p-relative text-end">
          <form action="https://formspree.io/f/mjkvpvqz" method="POST">
            <input placeholder="ايميل خود را وارد کنيد" type="email" name="email" required/>
            <button class="it-btn black-bg" type="submit">
              <span>اشتراک</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
