                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-lg-8 col-md-5 col-7">
                                <div class="it-header-2-top-right">
                                    <ul>
                                        <li>
                                            <a href="tel:=+989369090351">
                                                <span>
                                                    <i class="fa-light fa-phone-volume"> </i>
                                                </span>
                                                09369090351
                                            </a>
                                        </li>
                                        <li class="d-none d-lg-inline-block">
                                            <a href="maileto:chat@wecamp.pro">
                                                <span>
                                                    <i class="fa-light fa-envelope-open-text"> </i>
                                                </span>
                                                chat@wecamp.pro
                                            </a>
                                        </li>
                                        <li class="d-none d-lg-inline-block">
                                            <a href="#">
                                                <span>
                                                    <i class="fa-light fa-location-dot"> </i>
                                                </span>
                                                تهران، میرزای شیرازی، دلاویز، پ ۱۵، واحد ۴
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-7 col-5">
                                <div class="it-header-2-top-left text-end">
                                    <ul>
                                        <li class="d-none d-md-inline-block">
                                            <div class="it-header-3-top-left">
                                                <a href="https://wecamp.porsline.ir/s/kty0rvP8?sc=wcp">
                                                    <span class="icon">
                                                        <i class="fa-light fa-user"> </i>
                                                    </span>
                                                    <span class="text">
                                                        ثبت‌نام
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="it-header-2-top-social">
                                                <a href="https://instagram.com/in/WeCamp.Pro" onclick="openInApp(event, 'instagram://user?username=wecamp.pro')">
                                                    <i class="fab fa-instagram"> </i>
                                                </a>
                                                <a href="https://t.me/WeCampPro" target="_blank" onclick="openInApp(event, 'tg://resolve?domain=wecamppro')">
                                                    <i class="fab fa-telegram"> </i>
                                                </a>                                                </a>
                                                <a href="https://www.linkedin.com/company/wecamppro">
                                                    <i class="fab fa-linkedin"> </i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
