   <div class="section" data-w-id="081c0aac-b96f-7778-465c-c59646c494dd" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div class="container-small-615px text-center w-container" data-w-id="081c0aac-b96f-7778-465c-c59646c494de" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
     <h2>
      در حال ثبت‌نام
     </h2>
     <p>
      همراهت هستیم تا توانمندی‌هات رو در عمل بسازی. یادگیری در وی‌کمپ عمیق، ماندگار و برای امروز و فرداست.
     </p>
    </div>
    <div class="container-default-1209px w-container">
     <div class="w-layout-grid visit-us-grid" data-w-id="081c0aac-b96f-7778-465c-c59646c494e4" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
      <div class="card visit-us">
       <a href="/camps/product-design">
       <img alt="Product Design Camp" class="image visit-us" sizes="(max-width: 479px) 93vw, (max-width: 767px) 91vw, (max-width: 991px) 49vw, (max-width: 1439px) 96vw, 1272px" src="/img/about/visit-us-01.jpg" srcset="/img/about/visit-us-01-p1080.jpeg 1080w, /img/about/visit-us-01.jpg 1134w"/>
       <div class="card-content visit-us">
        <h3 class="title visit-us">
         کمپ دیزاین محصول
        </h3>
        </a>
        <div class="visit-us-contact-wrapper">
         <div class="visit-us-location-wrapper">
          <img alt="Location Icon" class="visit-us-icon location" src="/img/icons/event-location.svg"/>
          <div class="visit-us-location-text">
           نوع برگزاری: هیبریدی
          </div>
         </div>
         <div class="spacer visit-us">
         </div>
         <a class="visit-us-phone-number-wrapper w-inline-block" href="tel:02182802264">
          <img alt="Phone Icon" class="visit-us-icon" src="/img/icons/phone.svg"/>
          <div class="visit-us-phone-number-text">
           ثبت‌نام: ‎۰۲۱-۸۲۸۰۲۲۶۴
          </div>
         </a>
        </div>
       </div>
      </div>
      <div class="card visit-us">
       <a href=/camps/cloud-infra-deployment>
       <img alt="Cloud Infra. Deploymant Camp" class="image visit-us" sizes="(max-width: 479px) 93vw, (max-width: 767px) 91vw, (max-width: 991px) 49vw, (max-width: 1439px) 96vw, 1272px" src="/img/about/visit-us-02.jpg" srcset="/img/about/visit-us-02-p1080.jpeg 1080w, /img/about/visit-us-02.jpg 1134w"/>
       <div class="card-content visit-us">
        <h3 class="title visit-us">
         کمپ راه‌اندازی کلود
        </h3>
        </a>
        <div class="visit-us-contact-wrapper">
         <div class="visit-us-location-wrapper">
          <img alt="Location Icon" class="visit-us-icon location" src="/img/icons/event-location.svg"/>
          <div class="visit-us-location-text">
           نوع برگزاری: هیبریدی
          </div>
         </div>
         <div class="spacer visit-us">
         </div>
         <a class="visit-us-phone-number-wrapper w-inline-block" href="tel:02182802264">
          <img alt="Phone Icon" class="visit-us-icon" src="/img/icons/phone.svg"/>
          <div class="visit-us-phone-number-text">
           ثبت‌نام: ‎۰۲۱-۸۲۸۰۲۲۶۴
          </div>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="vc-flex" data-w-id="081c0aac-b96f-7778-465c-c59646c49503" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
      <a class="button-primary large w-button" href="/camps">
       همه  کمپ‌ها
      </a>
     </div>
    </div>
   </div>
