<!DOCTYPE html>
<html class="no-js" lang="zxx">
{{ partial "head" . }}
 <body>
  <div id="preloader">
   <div class="preloader">
    <span>
    </span>
    <span>
    </span>
   </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
   <i class="far fa-angle-double-up">
   </i>
  </button>
  {{ partial "hamburger" . }}
  <div class="body-overlay">
  </div>
  <header class="it-header-height">
   <div class="it-header-2-top-area it-header-2-top-style it-header-inner-style black-bg">
{{ partial "top" . }}
   </div>
   <div class="it-header-5-area" id="header-sticky">
    <div class="container">
     <div class="it-header-wrap p-relative">
      <div class="row align-items-center">
       <div class="col-xl-2 col-6">
        <div class="it-header-5-logo">
         <a href="/">
          <img alt="" src="/img/logo/logo-black.png"/>
         </a>
        </div>
       </div>
{{ partial "nav-page" . }}
       <!--<div class="col-xl-3 col-6">
        <div class="it-header-2-left d-flex align-items-center justify-content-end">
         <div class="it-header-2-icon">
          <a href="cart.html">
           <i class="fa-regular fa-cart-shopping">
           </i>
          </a>
         </div>
         <div class="it-header-2-button d-none d-md-block">
          <a class="it-btn" href="contact.html">
           <span>
            با ما تماس بگیرید
            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
             <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
             <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
            </svg>
           </span>
          </a>
         </div>
         <div class="it-header-2-bar d-xl-none">
          <button class="it-menu-bar">
           <i class="fa-solid fa-bars">
           </i>
          </button>
         </div>
        </div>
       </div-->>
      </div>
     </div>
    </div>
   </div>
  </header>
  <main>
   <div class="it-breadcrumb-area it-breadcrumb-bg" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="it-breadcrumb-content z-index-3 text-center">
        <div class="it-breadcrumb-title-box">
         <h3 class="it-breadcrumb-title">
          صفحه 404
         </h3>
        </div>
        <div class="it-breadcrumb-list-wrap">
         <div class="it-breadcrumb-list">
          <span>
           <a href="index.html">
            صفحه اصلی
           </a>
          </span>
          <span class="dvdr">
           //
          </span>
          <span>
           صفحات
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-error-area pt-120 pb-120">
    <div class="container">
     <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 order-1 order-lg-0">
       <div class="it-error-content wow itfadeUp" data-wow-delay=".3s" data-wow-duration=".9s">
        <h5 class="it-error-title">
         با عرض پوزش، صفحه یافت نشد!
        </h5>
        <p class="mb-35">
         ممکن است آدرس صفحه‌ای که وارد کرده‌اید اشتباه باشد یا صفحه موردنظر دیگر وجود نداشته باشد. نگران نباشید! می‌توانید از طریق دکمه زیر به صفحه اصلی بازگردید:
        <a class="it-btn" href="index.html">
         <span>
          بازگشت به صفحه اصلی
          <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
           <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
           <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
           </path>
          </svg>
         </span>
        </a>
       </div>
      </div>
      <div class="col-xl-6 col-lg-6 order-0 order-lg-1">
       <div class="it-error-thumb">
        <img alt="" src="/img/error/error.png"/>
       </div>
      </div>
     </div>
    </div>
   </div>
{{ partial "newsletter" . }}
  </main>
{{ partial "footer" . }}
  <script src="/js/jquery.js">
  </script>
  <script src="/js/waypoints.js">
  </script>
  <script src="/js/bootstrap.bundle.min.js">
  </script>
  <script src="/js/slick.min.js">
  </script>
  <script src="/js/magnific-popup.js">
  </script>
  <script src="/js/purecounter.js">
  </script>
  <script src="/js/wow.js">
  </script>
  <script src="/js/nice-select.js">
  </script>
  <script src="/js/swiper-bundle.js">
  </script>
  <script src="/js/isotope-pkgd.js">
  </script>
  <script src="/js/imagesloaded-pkgd.js">
  </script>
  <script src="/js/ajax-form.js">
  </script>
  <script src="/js/main.js">
  </script>
        <!-- To ensure that the preloader does not wait more than 500 miliseconds -->
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
            let preloader = document.getElementById("preloader");
            preloader.style.transition = "opacity 0.5s ease";
            preloader.style.opacity = "0";
            setTimeout(() => preloader.style.display = "none", 500); // Extra delay to remove it after fade-out
            }, 500);
        });
        </script>

 </body>
</html>
