<!DOCTYPE html>
<html class="no-js" lang="zxx">
{{ partial "head" . }}
 <body>
  <div id="preloader">
   <div class="preloader">
    <span>
    </span>
    <span>
    </span>
   </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
   <i class="far fa-angle-double-up">
   </i>
  </button>
{{ partial "hamburger" . }}
  <div class="body-overlay">
  </div>
  <header class="it-header-height">
   <div class="it-header-2-top-area it-header-2-top-style it-header-inner-style black-bg">
{{ partial "top" . }}   </div>
   <div class="it-header-5-area" id="header-sticky">
    <div class="container">
     <div class="it-header-wrap p-relative">
      <div class="row align-items-center">
       <div class="col-xl-2 col-6">
        <div class="it-header-5-logo">
         <a href="/">
          <img alt="" src="/img/logo/logo-black.png"/>
         </a>
        </div>
       </div>
{{ partial "nav" . }}
       <!--<div class="col-xl-3 col-6">
        <div class="it-header-2-left d-flex align-items-center justify-content-end">
         <div class="it-header-2-icon">
          <a href="cart.html">
           <i class="fa-regular fa-cart-shopping">
           </i>
          </a>
         </div>
         <div class="it-header-2-button d-none d-md-block">
          <a class="it-btn" href="contact.html">
           <span>
            با ما تماس بگیرید
            <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
             <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
             <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
             </path>
            </svg>
           </span>
          </a>
         </div>
         <div class="it-header-2-bar d-xl-none">
          <button class="it-menu-bar">
           <i class="fa-solid fa-bars">
           </i>
          </button>
         </div>
        </div>
       </div>-->
      </div>
     </div>
    </div>
   </div>
  </header>
  <main>
   <div class="it-breadcrumb-area it-breadcrumb-bg" data-background="/img/breadcrumb/ax.jpg">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="it-breadcrumb-content z-index-3 text-center">
        <div class="it-breadcrumb-title-box">
         <h3 class="it-breadcrumb-title">
          با ما تماس بگیرید
         </h3>
        </div>
        <div class="it-breadcrumb-list-wrap">
         <div class="it-breadcrumb-list">
          <span>
           <a href="/">
            صفحه اصلی
           </a>
          </span>
          <span class="dvdr">
           //
          </span>
          <span>
           تماس با ما
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-contact__area pt-120 pb-120">
    <div class="container">
     <div class="it-contact__wrap fix z-index-3 p-relative">
      <div class="it-contact__shape-1 d-none d-xl-block">
       <img alt="" src="/img/contact/shape-2-1.png"/>
      </div>
      <div class="row align-items-end">
       <div class="col-xl-7">
        <div class="it-contact__left-box">
         <div class="it-contact__section-box pb-20">
          <h4 class="it-contact__title pb-15">
           در تماس باشید
          </h4>
          <p>
           ما آماده پاسخگویی به سوالات و درخواست‌های شما هستیم. لطفاً از طریق راه‌های ارتباطی زیر با ما در تماس باشید.
           <br/>
          </p>
         </div>
         <div class="it-contact__content mb-55">
          <ul>
           <li>
            <div class="it-contact__list d-flex align-items-start">
             <div class="it-contact__icon">
              <span>
               <i class="fa-solid fa-location-dot">
               </i>
              </span>
             </div>
             <div class="it-contact__text">
              <span>
               آدرس ما
              </span>
              <a href="#">تهران، فرجام، ساختمان مهندسی پیشرفت،<br/>
               طبقه اول، انجمن TIM
              </a>
             </div>
            </div>
           </li>
           <li>
            <div class="it-contact__list d-flex align-items-start">
             <div class="it-contact__icon">
              <span>
               <i class="fa-solid fa-clock">
               </i>
              </span>
             </div>
             <div class="it-contact__text">
              <span>
               ساعات پاسخ‌گویی
              </span>
              <a href="#">
               تمام روزهای هفته، از ۹:۰۰ تا ۲۱:۰۰
              </a>
             </div>
            </div>
           </li>
           <li>
            <div class="it-contact__list d-flex align-items-start">
             <div class="it-contact__icon">
              <span>
               <i class="fa-solid fa-phone phone">
               </i>
              </span>
             </div>
             <div class="it-contact__text">
              <span>
               تماس با ما
              </span>
              <a href="tel:+989369090351">
               09369090351
              </a>
              <a href="#">
               chat@wecamp.pro
              </a>
             </div>
            </div>
           </li>
          </ul>
         </div>
         <div class="it-contact__bottom-box d-flex align-items-center justify-content-between">
          <div class="it-contact__scrool smooth">
           <a href="#it-newsletter">
            <i class="fa-solid fa-arrow-down">
            </i>
            مراقبت از مشتری
           </a>
          </div>
          <div class="it-footer-social">
           <a href="https://instagram.com/wecamppro">
            <i class="fa-brands fa-instagram">
            </i>
           </a>
           <a href="https://t.me/wecamppro">
            <i class="fa-brands fa-telegram">
            </i>
           </a>
           <a href="https://linkedin.com/school/wecamppro">
            <i class="fa-brands fa-linkedin">
            </i>
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="col-xl-5">
        <div class="it-contact__form-box">
         <form action="#">
          <div class="row">
           <div class="col-12 mb-25">
            <div class="it-contact-input-box">
             <label>
              نام*
             </label>
             <input placeholder="نام" type="text"/>
            </div>
           </div>
           <div class="col-12 mb-25">
            <div class="it-contact-input-box">
             <label>
              آدرس ایمیل*
             </label>
             <input placeholder="ایمیل" type="email"/>
            </div>
           </div>
           <div class="col-12 mb-25">
            <div class="it-contact-input-box">
             <label>
              تلفن*
             </label>
             <input placeholder="تلفن" type="text"/>
            </div>
           </div>
           <div class="col-12 mb-25">
            <div class="it-contact-input-box">
             <label>
              موضوع*
             </label>
             <input placeholder="موضوع" type="text"/>
            </div>
           </div>
           <div class="col-12 mb-25">
            <div class="it-contact-textarea-box">
             <label>
              پیام
             </label>
             <textarea placeholder="پيام"></textarea>
            </div>
           </div>
          </div>
         </form>
         <button class="it-btn" type="submit">
          <span>
           ارسال پیام
           <svg fill="none" height="14" viewBox="0 0 17 14" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
            <path d="M1 7.24023H16" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
            </path>
           </svg>
          </span>
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="it-newsletter-area it-newsletter-height fix p-relative theme-bg" id="it-newsletter">
    <div class="it-newsletter-shape-1 d-none d-lg-block">
     <img alt="" src="/img/newsletter/shape-1-1.png"/>
    </div>
    <div class="it-newsletter-shape-2 d-none d-lg-block">
     <img alt="" src="/img/newsletter/shape-1-2.png"/>
    </div>
    <div class="it-newsletter-shape-3 d-none d-xl-block">
     <img alt="" src="/img/newsletter/shape-1-3.png"/>
    </div>
    <div class="it-newsletter-shape-4 d-none d-xl-block">
     <img alt="" src="/img/newsletter/shape-1-4.png"/>
    </div>
    <div class="container">
     <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
       <div class="it-newsletter-right">
        <h4 class="it-section-title text-white pb-20">
         به خبرنامه ما بپیوندید
        </h4>
        <span>
         برای دریافت آخرین به روز رسانی و اخبار ما در خبرنامه ما مشترک شوید.
        </span>
       </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
       <div class="it-newsletter-left p-relative text-end">
        <input placeholder="ايميل خود را وارد کنيد" type="text"/>
        <button class="it-btn black-bg" type="submit">
         <span>اشتراک</span>
        </button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </main>
{{ partial "footer" . }}
  <script src="/js/jquery.js">
  </script>
  <script src="/js/waypoints.js">
  </script>
  <script src="/js/bootstrap.bundle.min.js">
  </script>
  <script src="/js/slick.min.js">
  </script>
  <script src="/js/magnific-popup.js">
  </script>
  <script src="/js/purecounter.js">
  </script>
  <script src="/js/wow.js">
  </script>
  <script src="/js/nice-select.js">
  </script>
  <script src="/js/swiper-bundle.js">
  </script>
  <script src="/js/isotope-pkgd.js">
  </script>
  <script src="/js/imagesloaded-pkgd.js">
  </script>
  <script src="/js/ajax-form.js">
  </script>
  <script src="/js/main.js">
  </script>
 </body>
</html>
